# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: IdentityService API
    description: |-
        IdentityService is the thin "who am I" surface. Login itself is an OIDC
         redirect flow over plain HTTP handled by the IdP, never an RPC here.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/users:
        get:
            tags:
                - IdentityService
            description: Lists users sharing an organisation with the caller.
            operationId: IdentityService_ListUsers
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of users to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListUsers call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `organisation = "organisations/7"` or a
                     match on display_name.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "display_name" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListUsersResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/users/{user}:
        get:
            tags:
                - IdentityService
            description: Returns a user. Use "users/me" for the signed-in caller.
            operationId: IdentityService_GetUser
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - IdentityService
            description: Updates the signed-in user's profile.
            operationId: IdentityService_UpdateUser
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable profile fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/User'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListUsersResponse:
            type: object
            properties:
                users:
                    type: array
                    items:
                        $ref: '#/components/schemas/User'
                    description: The page of users.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListUsers.
        MembershipSummary:
            type: object
            properties:
                organisation:
                    readOnly: true
                    type: string
                    description: |-
                        The organisation.
                         Format: organisations/{organisation}
                orgDisplayName:
                    readOnly: true
                    type: string
                    description: Cached display name of the organisation.
                role:
                    readOnly: true
                    type: string
                    description: The user's role in the organisation (an OrganisationRole value name).
            description: A compact view of an organisation the user belongs to.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        User:
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The user name. The alias "users/me" resolves to the caller.
                         Format: users/{user}
                email:
                    readOnly: true
                    type: string
                    description: Email address, sourced from the IdP.
                displayName:
                    type: string
                    description: Display name.
                avatarUrl:
                    type: string
                    description: Avatar image URL.
                locale:
                    type: string
                    description: BCP 47 locale (e.g. "en-US").
                timeZone:
                    type: string
                    description: IANA time zone (e.g. "America/New_York").
                memberships:
                    readOnly: true
                    type: array
                    items:
                        $ref: '#/components/schemas/MembershipSummary'
                    description: The organisations this user belongs to, with role.
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update.
            description: |-
                A signed-in person. Identity is deliberately thin: actual login is an OIDC
                 redirect flow handled over plain HTTP by the IdP, so most of "auth" never
                 appears as an RPC. Email and identity come from the IdP and are read-only
                 here; only profile preferences are editable.
tags:
    - name: IdentityService
