# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: AvailabilityService API
    description: |-
        AvailabilityService is the read-only, cacheable surface over the pure freebusy
         engine. It has no side effects: given a unit and a window it returns what is
         bookable, in the shape matching the unit's booking_mode.

         Its operations are custom methods (AIP-136): they compute results rather than
         fetch or list a resource, so they intentionally do not use the Get/List/Batch
         standard-method names or shapes.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/properties/{property}/units/{unit}:checkAvailability:
        post:
            tags:
                - AvailabilityService
            description: Tests whether one exact span is bookable.
            operationId: AvailabilityService_CheckAvailability
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CheckAvailabilityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CheckAvailabilityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units/{unit}:computeAvailability:
        post:
            tags:
                - AvailabilityService
            description: Computes availability for a unit over a window.
            operationId: AvailabilityService_ComputeAvailability
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ComputeAvailabilityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ComputeAvailabilityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units/{unit}:computeBookableRanges:
        post:
            tags:
                - AvailabilityService
            description: Computes contiguous bookable ranges within a window.
            operationId: AvailabilityService_ComputeBookableRanges
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ComputeBookableRangesRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ComputeBookableRangesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/units:batchCompute:
        post:
            tags:
                - AvailabilityService
            description: Computes availability for several units at once.
            operationId: AvailabilityService_BatchComputeAvailability
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchComputeAvailabilityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchComputeAvailabilityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/units:searchAvailability:
        post:
            tags:
                - AvailabilityService
            description: Searches the catalog for units bookable over a period.
            operationId: AvailabilityService_SearchAvailability
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SearchAvailabilityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SearchAvailabilityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        AvailabilityMatch:
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The matching unit.
                         Format: properties/{property}/units/{unit}
                displayName:
                    type: string
                    description: Cached display name of the unit, for convenience.
                mode:
                    type: integer
                    description: The unit's booking mode.
                    format: enum
                bookable:
                    type: boolean
                    description: Whether the unit is bookable for the requested period and units.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        Lead price for the requested period: the stay total for NIGHTLY, or the slot
                         price for TIME_SLOT. Used for sorting and display.
            description: |-
                One unit matched by SearchAvailability, with a lead price for the period.
                 Detailed slots/nights are fetched per unit via ComputeAvailability.
        BatchComputeAvailabilityRequest:
            required:
                - requests
            type: object
            properties:
                requests:
                    type: array
                    items:
                        $ref: '#/components/schemas/ComputeAvailabilityRequest'
                    description: The individual compute requests. Results are returned in the same order.
            description: |-
                Request message for BatchComputeAvailability. Each entry is a full
                 ComputeAvailabilityRequest (AIP-231), so per-unit duration and units all work
                 in batch exactly as they do in the single call.
        BatchComputeAvailabilityResponse:
            type: object
            properties:
                units:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnitAvailability'
                    description: Availability per request, in request order.
            description: Response message for BatchComputeAvailability.
        BookableRange:
            type: object
            properties:
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: The bookable span.
                bookable:
                    type: boolean
                    description: Whether the whole span is bookable.
            description: A contiguous span that is bookable end to end.
        CheckAvailabilityRequest:
            required:
                - unit
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The unit to test.
                         Format: properties/{property}/units/{unit}
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: An exact time window, the natural form for TIME_SLOT units.
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        A calendar-date range in the unit's timezone, the natural form for
                         NIGHTLY stays; end_date is the check-out date.
                units:
                    type: integer
                    description: Number of units required to be free. Defaults to 1.
                    format: int32
            description: Request message for CheckAvailability.
        CheckAvailabilityResponse:
            type: object
            properties:
                bookable:
                    type: boolean
                    description: Whether the span is bookable.
                freeCount:
                    type: integer
                    description: Free units across the span (the minimum over the span).
                    format: int32
                reasons:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnbookableReason'
                    description: Why the span is not bookable, when bookable is false.
            description: Response message for CheckAvailability.
        ComputeAvailabilityRequest:
            required:
                - unit
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The unit to compute availability for.
                         Format: properties/{property}/units/{unit}
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: An exact time window, the natural form for TIME_SLOT units.
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        A calendar-date range in the unit's timezone, the natural form for
                         NIGHTLY units; end_date is the check-out date.
                duration:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: |-
                        Slot length for TIME_SLOT units. Overrides the unit's default duration when
                         set; ignored for NIGHTLY units.
                units:
                    type: integer
                    description: Number of units required to be free. Defaults to 1.
                    format: int32
            description: Request message for ComputeAvailability.
        ComputeAvailabilityResponse:
            type: object
            properties:
                mode:
                    type: integer
                    description: Which shape is populated, matching the unit's booking_mode.
                    format: enum
                slots:
                    type: array
                    items:
                        $ref: '#/components/schemas/Slot'
                    description: Slots, when mode is TIME_SLOT.
                nights:
                    type: array
                    items:
                        $ref: '#/components/schemas/NightAvailability'
                    description: Per-night availability, when mode is NIGHTLY.
            description: Response message for ComputeAvailability.
        ComputeBookableRangesRequest:
            required:
                - unit
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The unit to compute bookable ranges for.
                         Format: properties/{property}/units/{unit}
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: An exact time window, the natural form for TIME_SLOT units.
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        A calendar-date range in the unit's timezone, the natural form for
                         NIGHTLY units.
                duration:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Minimum span length for TIME_SLOT units.
                units:
                    type: integer
                    description: Number of units required to be free. Defaults to 1.
                    format: int32
            description: Request message for ComputeBookableRanges.
        ComputeBookableRangesResponse:
            type: object
            properties:
                ranges:
                    type: array
                    items:
                        $ref: '#/components/schemas/BookableRange'
                    description: The bookable ranges within the window.
            description: Response message for ComputeBookableRanges.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                A half-open range of calendar dates [start_date, end_date), evaluated in the
                 resource's local timezone. The natural query and exception shape for NIGHTLY
                 resources: end_date is the check-out date and is not itself included.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        NightAvailability:
            type: object
            properties:
                night:
                    type: string
                    description: The night, in the unit's local timezone.
                    format: date
                freeUnits:
                    type: integer
                    description: Number of units of the pool free that night.
                    format: int32
                closed:
                    type: boolean
                    description: Whether the unit is closed that night (exception/blackout).
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Nightly price, derived from the unit's pricing.
            description: Per-night availability, produced for NIGHTLY units.
        SearchAvailabilityRequest:
            type: object
            properties:
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: An exact time window, the natural form for TIME_SLOT units.
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        A calendar-date range in each unit's timezone, the natural form for
                         NIGHTLY units; end_date is the check-out date.
                units:
                    type: integer
                    description: Number of units / party size required free. Defaults to 1.
                    format: int32
                filter:
                    type: string
                    description: |-
                        Filter (AIP-160) over unit fields to narrow the catalog, e.g.
                         `type = UNIT_TYPE_ROOM`, `tags:"beachfront"`, or a display_name match.
                orderBy:
                    type: string
                    description: |-
                        Sort order for matches, e.g. "price" or "price desc". Defaults to price
                         ascending.
                pageSize:
                    type: integer
                    description: Maximum number of matches to return. The server may cap this.
                    format: int32
                pageToken:
                    type: string
                    description: Page token from a previous SearchAvailability call's next_page_token.
                includeUnavailable:
                    type: boolean
                    description: |-
                        If true, include units that matched the filter but are not bookable for the
                         period (with bookable=false), instead of dropping them.
                property:
                    type: string
                    description: |-
                        Scope the search to a single property (hotel). Empty searches all properties.
                         Format: properties/{property}
                organisation:
                    type: string
                    description: |-
                        Scope the search to a single organisation (chain). Empty searches all
                         organisations the caller can see.
                         Format: organisations/{organisation}
            description: |-
                Request message for SearchAvailability. Sweeps the catalog for units that are
                 bookable over a period for a given party size, narrowed by a filter and
                 optionally scoped to one property (hotel) or organisation (chain), and sorted
                 for presentation. This is the storefront query: one call returns the matching
                 units with a lead price, rather than the caller listing units and computing
                 availability for each.
        SearchAvailabilityResponse:
            type: object
            properties:
                matches:
                    type: array
                    items:
                        $ref: '#/components/schemas/AvailabilityMatch'
                    description: The matching units, ordered per order_by.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for SearchAvailability.
        Slot:
            type: object
            properties:
                startTime:
                    type: string
                    description: Inclusive start of the slot.
                    format: date-time
                endTime:
                    type: string
                    description: Exclusive end of the slot (start + unit/requested duration).
                    format: date-time
                freeCount:
                    type: integer
                    description: Number of units free in this slot (capacity minus overlapping bookings).
                    format: int32
                bookable:
                    type: boolean
                    description: Whether the slot can actually be booked (free and passes policy).
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Price for booking this slot, derived from the unit's pricing.
            description: A discrete bookable time slot, produced for TIME_SLOT units.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        TimeWindow:
            required:
                - startTime
                - endTime
            type: object
            properties:
                startTime:
                    type: string
                    description: Inclusive start of the interval.
                    format: date-time
                endTime:
                    type: string
                    description: Exclusive end of the interval.
                    format: date-time
            description: |-
                A half-open time interval [start_time, end_time). Used for query windows and
                 for a booking's reserved span in both TIME_SLOT and NIGHTLY modes.
        UnbookableReason:
            type: object
            properties:
                code:
                    type: integer
                    description: Why the span is not bookable.
                    format: enum
                message:
                    type: string
                    description: Human-readable explanation suitable for display, not for parsing.
            description: |-
                A reason a span is not bookable, as a machine-readable code plus a
                 human-readable explanation. Clients should branch on code, never on message.
        UnitAvailability:
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The unit these results are for.
                         Format: properties/{property}/units/{unit}
                mode:
                    type: integer
                    description: Which shape is populated, matching the unit's booking_mode.
                    format: enum
                slots:
                    type: array
                    items:
                        $ref: '#/components/schemas/Slot'
                    description: Slots, when mode is TIME_SLOT.
                nights:
                    type: array
                    items:
                        $ref: '#/components/schemas/NightAvailability'
                    description: Per-night availability, when mode is NIGHTLY.
            description: Availability for one unit, used in batch responses.
tags:
    - name: AvailabilityService
