# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: ScheduleService API
    description: |-
        ScheduleService is the write side of availability configuration: a unit's
         recurring working hours, blackout/holiday exceptions, buffers, and stay rules.
         These are the inputs the freebusy engine consumes to compute availability.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/properties/{property}/units/{unit}/availabilityExceptions:
        get:
            tags:
                - ScheduleService
            description: Lists the exceptions configured for a unit.
            operationId: ScheduleService_ListAvailabilityExceptions
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of exceptions to return.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Token for the page of results to return. Empty for the first page.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression (AIP-160), e.g. `kind = EXCEPTION_KIND_CLOSURE`.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "window.start_time" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAvailabilityExceptionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - ScheduleService
            description: Adds an availability exception to a unit.
            operationId: ScheduleService_CreateAvailabilityException
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: availabilityExceptionId
                  in: query
                  description: Optional caller-chosen ID for the exception; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AvailabilityException'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AvailabilityException'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units/{unit}/availabilityExceptions/{availabilityException}:
        get:
            tags:
                - ScheduleService
            description: Gets a single availability exception.
            operationId: ScheduleService_GetAvailabilityException
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: availabilityException
                  in: path
                  description: The availabilityException id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AvailabilityException'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - ScheduleService
            description: Removes an availability exception.
            operationId: ScheduleService_DeleteAvailabilityException
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: availabilityException
                  in: path
                  description: The availabilityException id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units/{unit}/schedule:
        get:
            tags:
                - ScheduleService
            description: Reads the full availability configuration for a unit.
            operationId: ScheduleService_GetSchedule
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Schedule'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - ScheduleService
            description: |-
                Updates a unit's availability configuration. Set update_mask to the
                 section(s) to replace: recurring_rules, buffers, stay_constraints, and/or
                 cancellation_policy.
            operationId: ScheduleService_UpdateSchedule
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable sections.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Schedule'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Schedule'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        AvailabilityException:
            required:
                - kind
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The exception name.
                         Format: properties/{property}/units/{unit}/availabilityExceptions/{availability_exception}
                kind:
                    type: integer
                    description: Whether this span closes the unit or adds extra availability.
                    format: enum
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: An exact time window, the natural form for TIME_SLOT units.
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        A range of whole calendar dates in the unit's timezone, the natural
                         form for NIGHTLY blackouts (e.g. "closed Dec 24 through Dec 26").
                reason:
                    type: string
                    description: Human-readable reason (e.g. "Public holiday").
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
            description: |-
                An override of a unit's normal hours on a specific span: a blackout /
                 holiday closure, or extra hours beyond the recurring rules.
        BufferSettings:
            type: object
            properties:
                startDelta:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Prep time reserved before each booking.
                endDelta:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Turnover / cleaning time reserved after each booking.
                minNotice:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Minimum lead time between now and a booking's start.
                maxAdvance:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: How far into the future bookings may be made.
                gap:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Minimum gap enforced between two adjacent bookings.
            description: Buffer and notice settings applied around bookings.
        CancellationPolicy:
            type: object
            properties:
                tiers:
                    type: array
                    items:
                        $ref: '#/components/schemas/RefundTier'
                    description: |-
                        Ordered refund tiers. For a given cancellation the tier with the largest
                         `cutoff` that is still satisfied (cancelled at least `cutoff` before the
                         booking start) determines the refund. If no tier is satisfied, the booking
                         is non-refundable.
            description: Refund rules graded by how far ahead of a booking's start it is cancelled.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                A half-open range of calendar dates [start_date, end_date), evaluated in the
                 resource's local timezone. The natural query and exception shape for NIGHTLY
                 resources: end_date is the check-out date and is not itself included.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListAvailabilityExceptionsResponse:
            type: object
            properties:
                availabilityExceptions:
                    type: array
                    items:
                        $ref: '#/components/schemas/AvailabilityException'
                    description: The page of exceptions.
                nextPageToken:
                    type: string
                    description: Token for the next page of results. Empty if there are no more pages.
            description: Response message for ListAvailabilityExceptions.
        RecurringRule:
            required:
                - rrule
            type: object
            properties:
                rrule:
                    type: string
                    description: RFC 5545 RRULE, e.g. "FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR".
                opens:
                    type: string
                    description: |-
                        Local time-of-day the window opens, 24-hour "HH:MM" (e.g. "09:00").
                         Unset (with closes also unset) means open the whole day.
                closes:
                    type: string
                    description: |-
                        Local time-of-day the window closes, 24-hour "HH:MM" (e.g. "17:00").
                         A closes at or before opens means the span crosses midnight into the next
                         day (e.g. opens "22:00", closes "02:00").
            description: |-
                A recurring availability window expressed as an RRULE plus a daily open span.
                 The freebusy engine expands these against the unit's timezone.
        RefundTier:
            required:
                - cutoff
                - refundPercent
            type: object
            properties:
                cutoff:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Minimum lead time before the booking start for this tier to apply (e.g. 48h).
                refundPercent:
                    type: integer
                    description: Percentage of the booking total refunded at this tier (0-100).
                    format: int32
            description: |-
                One tier of a CancellationPolicy: cancel at least `cutoff` before the booking
                 start to receive `refund_percent` of the total back.
        Schedule:
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The schedule name.
                         Format: properties/{property}/units/{unit}/schedule
                recurringRules:
                    type: array
                    items:
                        $ref: '#/components/schemas/RecurringRule'
                    description: Recurring working hours.
                buffers:
                    allOf:
                        - $ref: '#/components/schemas/BufferSettings'
                    description: Buffer and notice settings.
                stayConstraints:
                    allOf:
                        - $ref: '#/components/schemas/StayConstraints'
                    description: Stay rules (NIGHTLY units).
                exceptions:
                    readOnly: true
                    type: array
                    items:
                        type: string
                    description: |-
                        Resource names of the active exceptions; manage them with the
                         AvailabilityException standard methods.
                         Format: properties/{property}/units/{unit}/availabilityExceptions/{availability_exception}
                cancellationPolicy:
                    allOf:
                        - $ref: '#/components/schemas/CancellationPolicy'
                    description: |-
                        Refund rules applied when a booking on this unit is cancelled. Unset
                         means cancellations are non-refundable by default.
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update.
            description: |-
                Aggregate read view of a unit's availability configuration: the inputs the
                 freebusy engine consumes. Modeled as a singleton resource, one per unit.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        StayConstraints:
            type: object
            properties:
                minNights:
                    type: integer
                    description: Minimum number of nights per booking.
                    format: int32
                maxNights:
                    type: integer
                    description: Maximum number of nights per booking. Zero means no maximum.
                    format: int32
                checkinWeekdays:
                    type: array
                    items:
                        type: integer
                        format: enum
                    description: Allowed check-in weekdays. Empty means any day.
                checkoutWeekdays:
                    type: array
                    items:
                        type: integer
                        format: enum
                    description: Allowed check-out weekdays. Empty means any day.
                advanceMinDays:
                    type: integer
                    description: Earliest a stay may begin, in days from now.
                    format: int32
                advanceMaxDays:
                    type: integer
                    description: Latest a stay may begin, in days from now. Zero means no limit.
                    format: int32
            description: Stay rules that affect bookability for NIGHTLY units.
        TimeWindow:
            required:
                - startTime
                - endTime
            type: object
            properties:
                startTime:
                    type: string
                    description: Inclusive start of the interval.
                    format: date-time
                endTime:
                    type: string
                    description: Exclusive end of the interval.
                    format: date-time
            description: |-
                A half-open time interval [start_time, end_time). Used for query windows and
                 for a booking's reserved span in both TIME_SLOT and NIGHTLY modes.
tags:
    - name: ScheduleService
