[run]
branch = True

[report]
show_missing = True
omit =
    freebusy/identity/__init__.py
    freebusy/identity/gapic_version.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
