# Base skeleton for the merged OpenAPI spec: everything that is fixed rather than
# derived from the per-service specs. Key order here is the output order.
# Embedded into the openapi tool (see main.go); override with `-base <file>`.
openapi: 3.0.0
info:
  title: FreeBusy API
  summary: Scheduling, availability, and booking platform API.
  description: |-
    FreeBusy is a scheduling platform that exposes resources, schedules, availability windows, bookings, organisations, and promotional codes over a RESTful, OpenAPI-described surface. This document is generated from Protocol Buffer service definitions and merged into a single specification.

    Authentication is performed via bearer tokens unless otherwise noted. All timestamps are RFC 3339 and all monetary amounts follow the associated currency's minor units.
  version: 1.0.0
  termsOfService: https://freebusy.oh-tarnished.dev/terms
  contact:
    name: FreeBusy API Support
    url: https://freebusy.oh-tarnished.dev/support
    email: support@oh-tarnished.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: FreeBusy API documentation
  url: https://freebusy.oh-tarnished.dev/docs
servers:
  - url: https://freebusy.oh-tarnished.dev
    description: Production
  - url: https://staging.freebusy.oh-tarnished.dev
    description: Staging
  - url: http://localhost:8080
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: Availability Service
  - name: Booking Service
  - name: Channel Service
  - name: Identity Service
  - name: Licence Service
  - name: Organisation Service
  - name: Promo Code Service
  - name: Property Service
  - name: Resource Service
  - name: Schedule Service
paths:
  /v1/properties/{property}/units/{unit}:checkAvailability:
    post:
      tags:
        - Availability Service
      description: Tests whether one exact span is bookable.
      operationId: AvailabilityService_CheckAvailability
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Check Availability
  /v1/properties/{property}/units/{unit}:computeAvailability:
    post:
      tags:
        - Availability Service
      description: Computes availability for a unit over a window.
      operationId: AvailabilityService_ComputeAvailability
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Availability
  /v1/properties/{property}/units/{unit}:computeBookableRanges:
    post:
      tags:
        - Availability Service
      description: Computes contiguous bookable ranges within a window.
      operationId: AvailabilityService_ComputeBookableRanges
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeBookableRangesRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeBookableRangesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Bookable Ranges
  /v1/units:batchCompute:
    post:
      tags:
        - Availability Service
      description: Computes availability for several units at once.
      operationId: AvailabilityService_BatchComputeAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchComputeAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Batch Compute Availability
  /v1/units:searchAvailability:
    post:
      tags:
        - Availability Service
      description: Searches the catalog for units bookable over a period.
      operationId: AvailabilityService_SearchAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAvailabilityRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Search Availability
  /v1/bookings:
    get:
      tags:
        - Booking Service
      description: Lists bookings.
      operationId: BookingService_ListBookings
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of bookings to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListBookings call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `unit = "properties/9/units/42"`,
             `customer = "users/7"`, `state = CONFIRMED`, or a window overlap predicate.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc" or "window.start_time".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBookingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Bookings
    post:
      tags:
        - Booking Service
      description: Creates a booking, placing a hold.
      operationId: BookingService_CreateBooking
      parameters:
        - name: requestId
          in: query
          description: |-
            Caller-supplied idempotency key that dedupes retries of this create. Reusing
             an id returns the booking created by the first call.
          schema:
            type: string
        - name: bookingId
          in: query
          description: Optional caller-chosen ID for the booking; the server generates one if unset.
          schema:
            type: string
        - name: validateOnly
          in: query
          description: |-
            If true, validate the request (availability + policy) and report what would
             happen, but place no hold.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Booking'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Booking
  /v1/bookings/{booking}:
    get:
      tags:
        - Booking Service
      description: Gets a single booking.
      operationId: BookingService_GetBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Booking
  /v1/bookings/{booking}/guests:
    get:
      tags:
        - Booking Service
      description: Gets the staying party (guests and occupancy) on a booking.
      operationId: BookingService_GetBookingGuests
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingGuests'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Booking Guests
    patch:
      tags:
        - Booking Service
      description: Replaces the staying party (guests and occupancy) on a booking.
      operationId: BookingService_UpdateBookingGuests
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace both guests and occupancy.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingGuests'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingGuests'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Booking Guests
  /v1/bookings/{booking}:cancel:
    post:
      tags:
        - Booking Service
      description: Cancels a booking.
      operationId: BookingService_CancelBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Cancel Booking
  /v1/bookings/{booking}:confirm:
    post:
      tags:
        - Booking Service
      description: Confirms a held booking.
      operationId: BookingService_ConfirmBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Confirm Booking
  /v1/bookings/{booking}:previewCancellation:
    post:
      tags:
        - Booking Service
      description: Previews the refund a cancellation would yield now, without cancelling.
      operationId: BookingService_PreviewCancellation
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewCancellationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewCancellationResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Preview Cancellation
  /v1/bookings/{booking}:reschedule:
    post:
      tags:
        - Booking Service
      description: Reschedules a booking to a new span.
      operationId: BookingService_RescheduleBooking
      parameters:
        - name: booking
          in: path
          description: The booking id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleBookingRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Reschedule Booking
  /v1/channels:
    get:
      tags:
        - Channel Service
      description: Lists channels.
      operationId: ChannelService_ListChannels
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of channels to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListChannels call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `property = "properties/9"`,
             `type = CHANNEL_TYPE_AGODA`, or `state = CHANNEL_STATE_CONNECTED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Channels
    post:
      tags:
        - Channel Service
      description: Creates a channel connection for a property.
      operationId: ChannelService_CreateChannel
      parameters:
        - name: channelId
          in: query
          description: Optional caller-chosen ID for the channel; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Channel
  /v1/channels/{channel}:
    get:
      tags:
        - Channel Service
      description: Gets a single channel.
      operationId: ChannelService_GetChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Channel
    delete:
      tags:
        - Channel Service
      description: Deletes a channel connection.
      operationId: ChannelService_DeleteChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the channel and its unit mappings; if false and mappings
             exist, the call fails.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Channel
    patch:
      tags:
        - Channel Service
      description: Updates a channel.
      operationId: ChannelService_UpdateChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Channel
  /v1/channels/{channel}/syncEvents:
    get:
      tags:
        - Channel Service
      description: Lists a channel's sync events.
      operationId: ChannelService_ListSyncEvents
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of events to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListSyncEvents call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `direction = SYNC_DIRECTION_OUTBOUND`,
             `state = SYNC_STATE_FAILED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "event_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncEventsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Sync Events
  /v1/channels/{channel}/syncStatus:
    get:
      tags:
        - Channel Service
      description: Reports a channel's sync health.
      operationId: ChannelService_GetChannelSyncStatus
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSyncStatus'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Channel Sync Status
  /v1/channels/{channel}/unitMappings:
    get:
      tags:
        - Channel Service
      description: Lists the unit mappings on a channel.
      operationId: ChannelService_ListUnitMappings
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of mappings to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListUnitMappings call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. `state = MAPPING_STATE_UNMAPPED`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnitMappingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Unit Mappings
    post:
      tags:
        - Channel Service
      description: Maps a unit to the channel's external room type / rate plan.
      operationId: ChannelService_CreateUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMappingId
          in: query
          description: Optional caller-chosen ID for the mapping; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMapping'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Unit Mapping
  /v1/channels/{channel}/unitMappings/{unitMapping}:
    get:
      tags:
        - Channel Service
      description: Gets a single unit mapping.
      operationId: ChannelService_GetUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Unit Mapping
    delete:
      tags:
        - Channel Service
      description: Deletes a unit mapping.
      operationId: ChannelService_DeleteUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Unit Mapping
    patch:
      tags:
        - Channel Service
      description: Updates a unit mapping.
      operationId: ChannelService_UpdateUnitMapping
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
        - name: unitMapping
          in: path
          description: The unitMapping id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMapping'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMapping'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Unit Mapping
  /v1/channels/{channel}:disable:
    post:
      tags:
        - Channel Service
      description: Disables a channel, pausing ARI push and reservation pull.
      operationId: ChannelService_DisableChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableChannelRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Disable Channel
  /v1/channels/{channel}:enable:
    post:
      tags:
        - Channel Service
      description: Enables a channel, resuming ARI push and reservation pull.
      operationId: ChannelService_EnableChannel
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableChannelRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Enable Channel
  /v1/channels/{channel}:importReservation:
    post:
      tags:
        - Channel Service
      description: Lands a reservation made on a channel, reconciling it into a booking.
      operationId: ChannelService_ImportReservation
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportReservationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportReservationResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Import Reservation
  /v1/channels/{channel}:pushAri:
    post:
      tags:
        - Channel Service
      description: Pushes availability/rate/restriction updates for a channel's mapped units.
      operationId: ChannelService_PushAri
      parameters:
        - name: channel
          in: path
          description: The channel id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushAriRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushAriResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Push Ari
  /v1/users:
    get:
      tags:
        - Identity Service
      description: Lists users.
      operationId: IdentityService_ListUsers
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of users to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListUsers call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. a match on display_name or email.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Users
  /v1/users/{user}:
    get:
      tags:
        - Identity Service
      description: Returns a user. Use "users/me" for the signed-in caller.
      operationId: IdentityService_GetUser
      parameters:
        - name: user
          in: path
          description: The user id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get User
    patch:
      tags:
        - Identity Service
      description: Updates the signed-in user's profile.
      operationId: IdentityService_UpdateUser
      parameters:
        - name: user
          in: path
          description: The user id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable profile fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update User
  /v1/organisations:
    get:
      tags:
        - Organisation Service
      description: Lists the organisations the caller belongs to.
      operationId: OrganisationService_ListOrganisations
      parameters:
        - name: pageSize
          in: query
          description: |-
            Maximum number of organisations to return. The server may cap this. Zero lets
             the server pick a default.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListOrganisations call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression over organisation fields (e.g. display_name).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Organisations
    post:
      tags:
        - Organisation Service
      description: Creates an organisation. The caller becomes its first owner.
      operationId: OrganisationService_CreateOrganisation
      parameters:
        - name: organisationId
          in: query
          description: Optional caller-chosen ID for the organisation; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Organisation
  /v1/organisations/{organisation}:
    get:
      tags:
        - Organisation Service
      description: Gets a single organisation.
      operationId: OrganisationService_GetOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Organisation
    delete:
      tags:
        - Organisation Service
      description: Deletes an organisation.
      operationId: OrganisationService_DeleteOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the organisation and its members; otherwise the call fails when
             the organisation still has members.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Organisation
    patch:
      tags:
        - Organisation Service
      description: Updates an organisation.
      operationId: OrganisationService_UpdateOrganisation
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Organisation
  /v1/organisations/{organisation}/members:
    get:
      tags:
        - Organisation Service
      description: Lists the members of an organisation.
      operationId: OrganisationService_ListMembers
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of members to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListMembers call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. `role = ADMIN` or `state = ACTIVE`.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Members
  /v1/organisations/{organisation}/members/{member}:
    get:
      tags:
        - Organisation Service
      description: Gets a single member.
      operationId: OrganisationService_GetMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Member
    delete:
      tags:
        - Organisation Service
      description: Removes a member from an organisation.
      operationId: OrganisationService_DeleteMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Member
    patch:
      tags:
        - Organisation Service
      description: Updates a member; the role is the only mutable field.
      operationId: OrganisationService_UpdateMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
        - name: member
          in: path
          description: The member id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Member
  /v1/organisations/{organisation}/members:invite:
    post:
      tags:
        - Organisation Service
      description: Invites a member to an organisation.
      operationId: OrganisationService_InviteMember
      parameters:
        - name: organisation
          in: path
          description: The organisation id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Invite Member
  /promocode/v1/promoCodes:
    get:
      tags:
        - Promo Code Service
      description: Lists promo codes.
      operationId: PromoCodeService_ListPromoCodes
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of promo codes to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListPromoCodes call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression over promo code fields, e.g. `state = ACTIVE` or a
             substring match on code/display_name (AIP-160).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "code" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromoCodesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Promo Codes
    post:
      tags:
        - Promo Code Service
      description: Creates a promo code.
      operationId: PromoCodeService_CreatePromoCode
      parameters:
        - name: codeGeneration
          in: query
          description: |-
            Whether the human-facing code is supplied by the caller (MANUAL) or minted
             by the server (AUTO). Unset defaults to MANUAL. When AUTO, promo_code.code
             is ignored and the server returns the generated code on the created resource.
             (-- api-linter: core::0133::request-unknown-fields=disabled
                 aip.dev/not-precedent: Code generation mode is intrinsic to creating a
                 promo code and has no standard AIP-133 equivalent. --)
          schema:
            type: integer
            format: enum
        - name: promoCodeId
          in: query
          description: Optional caller-chosen ID for the promo code; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
        - name: validateOnly
          in: query
          description: If true, validate the request and return what would happen, but don't commit.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Promo Code
  /promocode/v1/promoCodes/{promoCode}:
    get:
      tags:
        - Promo Code Service
      description: Gets a single promo code.
      operationId: PromoCodeService_GetPromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Promo Code
    delete:
      tags:
        - Promo Code Service
      description: Deletes a promo code.
      operationId: PromoCodeService_DeletePromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: etag
          in: query
          description: |-
            Optional optimistic-concurrency guard: if set, the delete fails unless it
             matches the current PromoCode.etag (AIP-154). Echo the etag you last read.
          schema:
            type: string
        - name: force
          in: query
          description: |-
            If true, delete the promo code along with its redemptions; otherwise the
             delete fails when redemptions exist.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Promo Code
    patch:
      tags:
        - Promo Code Service
      description: Updates a promo code.
      operationId: PromoCodeService_UpdatePromoCode
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: |-
            Fields to overwrite. Omit to replace all mutable fields. Nested fields use
             dotted paths, e.g. "discount.amount_off", "window.end_time", "scope.min_subtotal".
          schema:
            type: string
            format: field-mask
        - name: validateOnly
          in: query
          description: If true, validate the request and return what would happen, but don't commit.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Promo Code
  /promocode/v1/promoCodes/{promoCode}/redemptions:
    get:
      tags:
        - Promo Code Service
      description: |-
        Lists redemptions of a promo code (paged). Redemptions are created during
         CreateBooking, so this service exposes read-only access to them.
      operationId: PromoCodeService_ListRedemptions
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of redemptions to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListRedemptions call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression over redemption fields, e.g. `customer = "users/123"` (AIP-160).
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "redeemed_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRedemptionsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Redemptions
  /promocode/v1/promoCodes/{promoCode}/redemptions/{redemption}:
    get:
      tags:
        - Promo Code Service
      description: Gets a single redemption by resource name.
      operationId: PromoCodeService_GetRedemption
      parameters:
        - name: promoCode
          in: path
          description: The promoCode id.
          required: true
          schema:
            type: string
        - name: redemption
          in: path
          description: The redemption id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemption'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Redemption
  /promocode/v1/promoCodes:validatePromoCode:
    post:
      tags:
        - Promo Code Service
      description: Validates a code against a prospective booking and returns the discount.
      operationId: PromoCodeService_ValidatePromoCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePromoCodeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePromoCodeResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Validate Promo Code
  /v1/properties/{property}/licences:
    get:
      tags:
        - Licence Service
      description: |-
        Lists the regulatory licences/certificates under a property — both
         property-wide and per-unit ones.
      operationId: LicenceService_ListLicences
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of licences to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListLicences call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `type = LICENCE_TYPE_FIRE_SAFETY`,
             `target = LICENCE_TARGET_UNIT`, `unit = properties/p1/units/u1`, or
             `expiry_date <= 2026-08-01` to find licences due for renewal.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "expiry_date" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLicencesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Licences
    post:
      tags:
        - Licence Service
      description: |-
        Creates a licence under a property, e.g. after uploading a scan of a trade
         or fire-safety certificate. Set the licence's `unit` to cover a single
         unit instead of the whole property.
      operationId: LicenceService_CreateLicence
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: licenceId
          in: query
          description: Optional caller-chosen ID for the licence; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Licence'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Licence
  /v1/properties/{property}/licences/{licence}:
    get:
      tags:
        - Licence Service
      description: Gets a single licence.
      operationId: LicenceService_GetLicence
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Licence
    delete:
      tags:
        - Licence Service
      description: Deletes a licence.
      operationId: LicenceService_DeleteLicence
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Licence
    patch:
      tags:
        - Licence Service
      description: Updates a licence, e.g. to record its renewal.
      operationId: LicenceService_UpdateLicence
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: licence
          in: path
          description: The licence id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Licence'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Licence'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Licence
  /v1/properties:
    get:
      tags:
        - Property Service
      description: Lists properties.
      operationId: PropertyService_ListProperties
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of properties to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListProperties call, for pagination.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `organisation = "organisations/7"`,
             `state = PROPERTY_STATE_ACTIVE`, `tags:"beachfront"`, or a display_name match.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPropertiesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Properties
    post:
      tags:
        - Property Service
      description: Creates a property. The caller's chain becomes its owner.
      operationId: PropertyService_CreateProperty
      parameters:
        - name: propertyId
          in: query
          description: Optional caller-chosen ID for the property; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Property
  /v1/properties/{property}:
    get:
      tags:
        - Property Service
      description: Gets a single property.
      operationId: PropertyService_GetProperty
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Property
    patch:
      tags:
        - Property Service
      description: Updates a property.
      operationId: PropertyService_UpdateProperty
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Property
  /v1/properties/{property}/units:
    get:
      tags:
        - Property Service
      description: Lists the units (room types) within a property.
      operationId: PropertyService_ListUnits
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of units to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListUnits call's next_page_token.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `type = UNIT_TYPE_ROOM`,
             `state = UNIT_STATE_ACTIVE`, or a match on display_name.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnitsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Units
    post:
      tags:
        - Property Service
      description: Creates a unit within a property.
      operationId: PropertyService_CreateUnit
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unitId
          in: query
          description: Optional caller-chosen ID for the unit; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unit'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Unit
  /v1/properties/{property}/units/{unit}:
    get:
      tags:
        - Property Service
      description: Gets a single unit.
      operationId: PropertyService_GetUnit
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Unit
    delete:
      tags:
        - Property Service
      description: Deletes a unit from a property.
      operationId: PropertyService_DeleteUnit
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: |-
            Whether to delete the unit's child licences along with it. Required to be
             true if any exist; otherwise the delete is rejected.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Unit
    patch:
      tags:
        - Property Service
      description: Updates a unit.
      operationId: PropertyService_UpdateUnit
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
        - name: unit
          in: path
          description: The unit id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unit'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Unit
  /v1/properties/{property}:archive:
    post:
      tags:
        - Property Service
      description: Archives a property, hiding it from the storefront and new bookings.
      operationId: PropertyService_ArchiveProperty
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivePropertyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Archive Property
  /v1/properties/{property}:unarchive:
    post:
      tags:
        - Property Service
      description: Unarchives a property, restoring it to the active state.
      operationId: PropertyService_UnarchiveProperty
      parameters:
        - name: property
          in: path
          description: The property id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchivePropertyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Unarchive Property
  /v1/resources:
    get:
      tags:
        - Resource Service
      description: Lists resources.
      operationId: ResourceService_ListResources
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of resources to return. The server may cap this.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListResources call, for pagination.
          schema:
            type: string
        - name: filter
          in: query
          description: |-
            Filter expression (AIP-160), e.g. `type = RESOURCE_TYPE_ROOM`,
             `state = STATE_ACTIVE`, `tags:"beachfront"`, or a match on display_name.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourcesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Resources
    post:
      tags:
        - Resource Service
      description: Creates a resource.
      operationId: ResourceService_CreateResource
      parameters:
        - name: resourceId
          in: query
          description: Optional caller-chosen ID for the resource; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Resource
  /v1/resources/{resource}:
    get:
      tags:
        - Resource Service
      description: Gets a single resource.
      operationId: ResourceService_GetResource
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Resource
    patch:
      tags:
        - Resource Service
      description: Updates a resource.
      operationId: ResourceService_UpdateResource
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Resource
  /v1/resources/{resource}/offerings:
    get:
      tags:
        - Resource Service
      description: Lists the offerings attached to a resource.
      operationId: ResourceService_ListOfferings
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of offerings to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token from a previous ListOfferings call's next_page_token.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort order, e.g. "display_name" or "create_time desc".
          schema:
            type: string
        - name: filter
          in: query
          description: Filter expression (AIP-160), e.g. a match on display_name.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfferingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Offerings
    post:
      tags:
        - Resource Service
      description: Creates an offering on a resource.
      operationId: ResourceService_CreateOffering
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: offeringId
          in: query
          description: Optional caller-chosen ID for the offering; the server generates one if unset.
          schema:
            type: string
        - name: requestId
          in: query
          description: Caller-supplied idempotency key; identical retries return the first result.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offering'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Offering
  /v1/resources/{resource}/offerings/{offering}:
    get:
      tags:
        - Resource Service
      description: Gets a single offering.
      operationId: ResourceService_GetOffering
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: offering
          in: path
          description: The offering id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Offering
    delete:
      tags:
        - Resource Service
      description: Deletes an offering.
      operationId: ResourceService_DeleteOffering
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: offering
          in: path
          description: The offering id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Offering
    patch:
      tags:
        - Resource Service
      description: Updates an offering.
      operationId: ResourceService_UpdateOffering
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
        - name: offering
          in: path
          description: The offering id.
          required: true
          schema:
            type: string
        - name: updateMask
          in: query
          description: Fields to overwrite. Omit to replace all mutable fields.
          schema:
            type: string
            format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offering'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Offering
  /v1/resources/{resource}:archive:
    post:
      tags:
        - Resource Service
      description: Archives a resource, hiding it from availability and new bookings.
      operationId: ResourceService_ArchiveResource
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveResourceRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Archive Resource
  /v1/resources/{resource}:unarchive:
    post:
      tags:
        - Resource Service
      description: Unarchives a resource, restoring it to the active state.
      operationId: ResourceService_UnarchiveResource
      parameters:
        - name: resource
          in: path
          description: The resource id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchiveResourceRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
[...]
