openapi: 3.0.0
info:
  title: FreeBusy API
  summary: Scheduling, availability, and booking platform API.
  description: 'FreeBusy is a scheduling platform that exposes resources, schedules,
    availability windows, bookings, organisations, and promotional codes over a RESTful,
    OpenAPI-described surface. This document is generated from Protocol Buffer service
    definitions and merged into a single specification.
    Authentication is performed via bearer tokens unless otherwise noted. All timestamps
    are RFC 3339 and all monetary amounts follow the associated currency''s minor
    units.'
  version: 1.0.0
  termsOfService: https://freebusy.oh-tarnished.dev/terms
  contact:
    name: FreeBusy API Support
    url: https://freebusy.oh-tarnished.dev/support
    email: support@oh-tarnished.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: FreeBusy API documentation
  url: https://freebusy.oh-tarnished.dev/docs
servers:
- url: https://freebusy.oh-tarnished.dev
  description: Production
- url: https://staging.freebusy.oh-tarnished.dev
  description: Staging
- url: http://localhost:8080
  description: Local development
security:
- bearerAuth: []
tags:
- name: Availability Service
- name: Booking Service
- name: Identity Service
- name: Organisation Service
- name: Promo Code Service
- name: Resource Service
- name: Schedule Service
paths:
  /v1/resources/{resource}:checkAvailability:
    post:
      tags:
      - Availability Service
      description: Tests whether one exact span is bookable.
      operationId: AvailabilityService_CheckAvailability
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Check Availability
  /v1/resources/{resource}:computeAvailability:
    post:
      tags:
      - Availability Service
      description: Computes availability for a resource over a window.
      operationId: AvailabilityService_ComputeAvailability
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeAvailabilityRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Availability
  /v1/resources/{resource}:computeBookableRanges:
    post:
      tags:
      - Availability Service
      description: Computes contiguous bookable ranges within a window.
      operationId: AvailabilityService_ComputeBookableRanges
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeBookableRangesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeBookableRangesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Compute Bookable Ranges
  /v1/resources:batchCompute:
    post:
      tags:
      - Availability Service
      description: Computes availability for several resources at once.
      operationId: AvailabilityService_BatchComputeAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchComputeAvailabilityRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchComputeAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Batch Compute Availability
  /v1/resources:searchAvailability:
    post:
      tags:
      - Availability Service
      description: Searches the catalog for resources bookable over a period.
      operationId: AvailabilityService_SearchAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAvailabilityRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAvailabilityResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Search Availability
  /v1/bookings:
    get:
      tags:
      - Booking Service
      description: Lists bookings.
      operationId: BookingService_ListBookings
      parameters:
      - name: pageSize
        in: query
        description: Maximum number of bookings to return. The server may cap this.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListBookings call's next_page_token.
        schema:
          type: string
      - name: filter
        in: query
        description: "Filter expression (AIP-160), e.g. `resource = \"resources/42\"\
          `,\n `customer = \"users/7\"`, `state = CONFIRMED`, or a window overlap\
          \ predicate."
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "create_time desc" or "window.start_time".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBookingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Bookings
    post:
      tags:
      - Booking Service
      description: Creates a booking, placing a hold.
      operationId: BookingService_CreateBooking
      parameters:
      - name: requestId
        in: query
        description: "Caller-supplied idempotency key that dedupes retries of this\
          \ create. Reusing\n an id returns the booking created by the first call."
        schema:
          type: string
      - name: bookingId
        in: query
        description: Optional caller-chosen ID for the booking; the server generates
          one if unset.
        schema:
          type: string
      - name: validateOnly
        in: query
        description: "If true, validate the request (availability + policy) and report\
          \ what would\n happen, but place no hold."
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Booking'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Booking
  /v1/bookings/{booking}:
    get:
      tags:
      - Booking Service
      description: Gets a single booking.
      operationId: BookingService_GetBooking
      parameters:
      - name: booking
        in: path
        description: The booking id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Booking
  /v1/bookings/{booking}:cancel:
    post:
      tags:
      - Booking Service
      description: Cancels a booking.
      operationId: BookingService_CancelBooking
      parameters:
      - name: booking
        in: path
        description: The booking id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBookingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Cancel Booking
  /v1/bookings/{booking}:confirm:
    post:
      tags:
      - Booking Service
      description: Confirms a held booking.
      operationId: BookingService_ConfirmBooking
      parameters:
      - name: booking
        in: path
        description: The booking id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBookingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Confirm Booking
  /v1/bookings/{booking}:previewCancellation:
    post:
      tags:
      - Booking Service
      description: Previews the refund a cancellation would yield now, without cancelling.
      operationId: BookingService_PreviewCancellation
      parameters:
      - name: booking
        in: path
        description: The booking id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewCancellationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewCancellationResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Preview Cancellation
  /v1/bookings/{booking}:reschedule:
    post:
      tags:
      - Booking Service
      description: Reschedules a booking to a new span.
      operationId: BookingService_RescheduleBooking
      parameters:
      - name: booking
        in: path
        description: The booking id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleBookingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Reschedule Booking
  /v1/users:
    get:
      tags:
      - Identity Service
      description: Lists users sharing an organisation with the caller.
      operationId: IdentityService_ListUsers
      parameters:
      - name: pageSize
        in: query
        description: Maximum number of users to return. The server may cap this.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListUsers call's next_page_token.
        schema:
          type: string
      - name: filter
        in: query
        description: "Filter expression (AIP-160), e.g. `organisation = \"organisations/7\"\
          ` or a\n match on display_name."
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "display_name" or "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Users
  /v1/users/{user}:
    get:
      tags:
      - Identity Service
      description: Returns a user. Use "users/me" for the signed-in caller.
      operationId: IdentityService_GetUser
      parameters:
      - name: user
        in: path
        description: The user id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get User
    patch:
      tags:
      - Identity Service
      description: Updates the signed-in user's profile.
      operationId: IdentityService_UpdateUser
      parameters:
      - name: user
        in: path
        description: The user id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable profile fields.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update User
  /v1/organisations:
    get:
      tags:
      - Organisation Service
      description: Lists the organisations the caller belongs to.
      operationId: OrganisationService_ListOrganisations
      parameters:
      - name: pageSize
        in: query
        description: "Maximum number of organisations to return. The server may cap\
          \ this. Zero lets\n the server pick a default."
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListOrganisations call's next_page_token.
        schema:
          type: string
      - name: filter
        in: query
        description: Filter expression over organisation fields (e.g. display_name).
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Organisations
    post:
      tags:
      - Organisation Service
      description: Creates an organisation. The caller becomes its first owner.
      operationId: OrganisationService_CreateOrganisation
      parameters:
      - name: organisationId
        in: query
        description: Optional caller-chosen ID for the organisation; the server generates
          one if unset.
        schema:
          type: string
      - name: requestId
        in: query
        description: Caller-supplied idempotency key; identical retries return the
          first result.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Organisation
  /v1/organisations/{organisation}:
    get:
      tags:
      - Organisation Service
      description: Gets a single organisation.
      operationId: OrganisationService_GetOrganisation
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Organisation
    delete:
      tags:
      - Organisation Service
      description: Deletes an organisation.
      operationId: OrganisationService_DeleteOrganisation
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: "If true, delete the organisation and its members; otherwise\
          \ the call fails when\n the organisation still has members."
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Organisation
    patch:
      tags:
      - Organisation Service
      description: Updates an organisation.
      operationId: OrganisationService_UpdateOrganisation
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable fields.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Organisation
  /v1/organisations/{organisation}/members:
    get:
      tags:
      - Organisation Service
      description: Lists the members of an organisation.
      operationId: OrganisationService_ListMembers
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: Maximum number of members to return. The server may cap this.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListMembers call's next_page_token.
        schema:
          type: string
      - name: filter
        in: query
        description: Filter expression (AIP-160), e.g. `role = ADMIN` or `state =
          ACTIVE`.
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Members
  /v1/organisations/{organisation}/members/{member}:
    get:
      tags:
      - Organisation Service
      description: Gets a single member.
      operationId: OrganisationService_GetMember
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: member
        in: path
        description: The member id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Member
    delete:
      tags:
      - Organisation Service
      description: Removes a member from an organisation.
      operationId: OrganisationService_DeleteMember
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: member
        in: path
        description: The member id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Member
    patch:
      tags:
      - Organisation Service
      description: Updates a member; the role is the only mutable field.
      operationId: OrganisationService_UpdateMember
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      - name: member
        in: path
        description: The member id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable fields.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Member
  /v1/organisations/{organisation}/members:invite:
    post:
      tags:
      - Organisation Service
      description: Invites a member to an organisation.
      operationId: OrganisationService_InviteMember
      parameters:
      - name: organisation
        in: path
        description: The organisation id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Invite Member
  /v1/promoCodes:
    get:
      tags:
      - Promo Code Service
      description: Lists promo codes.
      operationId: PromoCodeService_ListPromoCodes
      parameters:
      - name: pageSize
        in: query
        description: Maximum number of promo codes to return. The server may cap this.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListPromoCodes call's next_page_token.
        schema:
          type: string
      - name: filter
        in: query
        description: "Filter expression over promo code fields, e.g. `state = ACTIVE`\
          \ or a\n substring match on code/display_name (AIP-160)."
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "code" or "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromoCodesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Promo Codes
    post:
      tags:
      - Promo Code Service
      description: Creates a promo code.
      operationId: PromoCodeService_CreatePromoCode
      parameters:
      - name: promoCodeId
        in: query
        description: Optional caller-chosen ID for the promo code; the server generates
          one if unset.
        schema:
          type: string
      - name: requestId
        in: query
        description: Caller-supplied idempotency key; identical retries return the
          first result.
        schema:
          type: string
      - name: validateOnly
        in: query
        description: If true, validate the request and return what would happen, but
          don't commit.
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Promo Code
  /v1/promoCodes/{promoCode}:
    get:
      tags:
      - Promo Code Service
      description: Gets a single promo code.
      operationId: PromoCodeService_GetPromoCode
      parameters:
      - name: promoCode
        in: path
        description: The promoCode id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Promo Code
    delete:
      tags:
      - Promo Code Service
      description: Deletes a promo code.
      operationId: PromoCodeService_DeletePromoCode
      parameters:
      - name: promoCode
        in: path
        description: The promoCode id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Promo Code
    patch:
      tags:
      - Promo Code Service
      description: Updates a promo code.
      operationId: PromoCodeService_UpdatePromoCode
      parameters:
      - name: promoCode
        in: path
        description: The promoCode id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable fields.
        schema:
          type: string
          format: field-mask
      - name: validateOnly
        in: query
        description: If true, validate the request and return what would happen, but
          don't commit.
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Promo Code
  /v1/promoCodes:validatePromoCode:
    post:
      tags:
      - Promo Code Service
      description: Validates a code against a prospective booking and returns the
        discount.
      operationId: PromoCodeService_ValidatePromoCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePromoCodeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePromoCodeResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Validate Promo Code
  /v1/resources:
    get:
      tags:
      - Resource Service
      description: Lists resources.
      operationId: ResourceService_ListResources
      parameters:
      - name: pageSize
        in: query
        description: Maximum number of resources to return. The server may cap this.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListResources call, for pagination.
        schema:
          type: string
      - name: filter
        in: query
        description: "Filter expression (AIP-160), e.g. `type = RESOURCE_TYPE_ROOM`,\n\
          \ `state = STATE_ACTIVE`, `tags:\"beachfront\"`, or a match on display_name."
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "display_name" or "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourcesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Resources
    post:
      tags:
      - Resource Service
      description: Creates a resource.
      operationId: ResourceService_CreateResource
      parameters:
      - name: resourceId
        in: query
        description: Optional caller-chosen ID for the resource; the server generates
          one if unset.
        schema:
          type: string
      - name: requestId
        in: query
        description: Caller-supplied idempotency key; identical retries return the
          first result.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Resource
  /v1/resources/{resource}:
    get:
      tags:
      - Resource Service
      description: Gets a single resource.
      operationId: ResourceService_GetResource
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Resource
    patch:
      tags:
      - Resource Service
      description: Updates a resource.
      operationId: ResourceService_UpdateResource
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable fields.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Resource
  /v1/resources/{resource}/offerings:
    get:
      tags:
      - Resource Service
      description: Lists the offerings attached to a resource.
      operationId: ResourceService_ListOfferings
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: Maximum number of offerings to return.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Page token from a previous ListOfferings call's next_page_token.
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "display_name" or "create_time desc".
        schema:
          type: string
      - name: filter
        in: query
        description: Filter expression (AIP-160), e.g. a match on display_name.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfferingsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Offerings
    post:
      tags:
      - Resource Service
      description: Creates an offering on a resource.
      operationId: ResourceService_CreateOffering
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: offeringId
        in: query
        description: Optional caller-chosen ID for the offering; the server generates
          one if unset.
        schema:
          type: string
      - name: requestId
        in: query
        description: Caller-supplied idempotency key; identical retries return the
          first result.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offering'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Offering
  /v1/resources/{resource}/offerings/{offering}:
    get:
      tags:
      - Resource Service
      description: Gets a single offering.
      operationId: ResourceService_GetOffering
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: offering
        in: path
        description: The offering id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Offering
    delete:
      tags:
      - Resource Service
      description: Deletes an offering.
      operationId: ResourceService_DeleteOffering
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: offering
        in: path
        description: The offering id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Offering
    patch:
      tags:
      - Resource Service
      description: Updates an offering.
      operationId: ResourceService_UpdateOffering
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: offering
        in: path
        description: The offering id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable fields.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offering'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Offering
  /v1/resources/{resource}:archive:
    post:
      tags:
      - Resource Service
      description: Archives a resource, hiding it from availability and new bookings.
      operationId: ResourceService_ArchiveResource
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveResourceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Archive Resource
  /v1/resources/{resource}:unarchive:
    post:
      tags:
      - Resource Service
      description: Unarchives a resource, restoring it to the active state.
      operationId: ResourceService_UnarchiveResource
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchiveResourceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Unarchive Resource
  /v1/resources/{resource}/availabilityExceptions:
    get:
      tags:
      - Schedule Service
      description: Lists the exceptions configured for a resource.
      operationId: ScheduleService_ListAvailabilityExceptions
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: Maximum number of exceptions to return.
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        description: Token for the page of results to return. Empty for the first
          page.
        schema:
          type: string
      - name: filter
        in: query
        description: Filter expression (AIP-160), e.g. `kind = EXCEPTION_KIND_CLOSURE`.
        schema:
          type: string
      - name: orderBy
        in: query
        description: Sort order, e.g. "window.start_time" or "create_time desc".
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailabilityExceptionsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: List Availability Exceptions
    post:
      tags:
      - Schedule Service
      description: Adds an availability exception to a resource.
      operationId: ScheduleService_CreateAvailabilityException
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: availabilityExceptionId
        in: query
        description: Optional caller-chosen ID for the exception; the server generates
          one if unset.
        schema:
          type: string
      - name: requestId
        in: query
        description: Caller-supplied idempotency key; identical retries return the
          first result.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityException'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityException'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Create Availability Exception
  /v1/resources/{resource}/availabilityExceptions/{availabilityException}:
    get:
      tags:
      - Schedule Service
      description: Gets a single availability exception.
      operationId: ScheduleService_GetAvailabilityException
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: availabilityException
        in: path
        description: The availabilityException id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityException'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Availability Exception
    delete:
      tags:
      - Schedule Service
      description: Removes an availability exception.
      operationId: ScheduleService_DeleteAvailabilityException
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: availabilityException
        in: path
        description: The availabilityException id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Delete Availability Exception
  /v1/resources/{resource}/schedule:
    get:
      tags:
      - Schedule Service
      description: Reads the full availability configuration for a resource.
      operationId: ScheduleService_GetSchedule
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Get Schedule
    patch:
      tags:
      - Schedule Service
      description: "Updates a resource's availability configuration. Set update_mask\
        \ to the\n section(s) to replace: recurring_rules, buffers, stay_constraints,\
        \ and/or\n cancellation_policy."
      operationId: ScheduleService_UpdateSchedule
      parameters:
      - name: resource
        in: path
        description: The resource id.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Fields to overwrite. Omit to replace all mutable sections.
        schema:
          type: string
          format: field-mask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      summary: Update Schedule
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication using a JWT access token.
  schemas:
    AvailabilityMatch:
      type: object
      properties:
        resource:
          type: string
          description: "The matching resource.\n Format: resources/{resource}"
        displayName:
          type: string
          description: Cached display name of the resource, for convenience.
        mode:
          type: integer
          description: The resource's booking mode.
          format: enum
        bookable:
          type: boolean
          description: Whether the resource is bookable for the requested period and
            units.
        price:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: "Lead price for the requested period: the stay total for NIGHTLY,\
            \ or the slot\n price for TIME_SLOT. Used for sorting and display."
      description: "One resource matched by SearchAvailability, with a lead price\
        \ for the period.\n Detailed slots/nights are fetched per resource via ComputeAvailability."
    BatchComputeAvailabilityRequest:
      required:
      - requests
      type: object
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/ComputeAvailabilityRequest'
          description: The individual compute requests. Results are returned in the
            same order.
      description: "Request message for BatchComputeAvailability. Each entry is a\
        \ full\n ComputeAvailabilityRequest (AIP-231), so per-resource duration, offering,\n\
        \ and units all work in batch exactly as they do in the single call."
    BatchComputeAvailabilityResponse:
      type: object
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAvailability'
          description: Availability per request, in request order.
      description: Response message for BatchComputeAvailability.
    BookableRange:
      type: object
      properties:
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: The bookable span.
        bookable:
          type: boolean
          description: Whether the whole span is bookable.
      description: A contiguous span that is bookable end to end.
    CheckAvailabilityRequest:
      required:
      - resource
      type: object
      properties:
        resource:
          type: string
          description: "The resource to test.\n Format: resources/{resource}"
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: An exact time window, the natural form for TIME_SLOT resources.
        dateRange:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          description: "A calendar-date range in the resource's timezone, the natural\
            \ form for\n NIGHTLY stays; end_date is the check-out date."
        units:
          type: integer
          description: Number of units required to be free. Defaults to 1.
          format: int32
        offering:
          type: string
          description: "Offering whose duration/rules apply, when relevant.\n Format:\
            \ resources/{resource}/offerings/{offering}"
      description: Request message for CheckAvailability.
    CheckAvailabilityResponse:
      type: object
      properties:
        bookable:
          type: boolean
          description: Whether the span is bookable.
        freeCount:
          type: integer
          description: Free units across the span (the minimum over the span).
          format: int32
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/UnbookableReason'
          description: Why the span is not bookable, when bookable is false.
      description: Response message for CheckAvailability.
    ComputeAvailabilityRequest:
      required:
      - resource
      type: object
      properties:
        resource:
          type: string
          description: "The resource to compute availability for.\n Format: resources/{resource}"
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: An exact time window, the natural form for TIME_SLOT resources.
        dateRange:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          description: "A calendar-date range in the resource's timezone, the natural\
            \ form for\n NIGHTLY resources; end_date is the check-out date."
        duration:
          pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
          type: string
          description: "Slot length for TIME_SLOT resources. Ignored when offering\
            \ is set or for\n NIGHTLY resources."
        offering:
          type: string
          description: "Offering to derive duration and price from. Takes precedence\
            \ over duration.\n Format: resources/{resource}/offerings/{offering}"
        units:
          type: integer
          description: Number of units required to be free. Defaults to 1.
          format: int32
      description: Request message for ComputeAvailability.
    ComputeAvailabilityResponse:
      type: object
      properties:
        mode:
          type: integer
          description: Which shape is populated, matching the resource's booking_mode.
          format: enum
        slots:
          type: array
          items:
            $ref: '#/components/schemas/Slot'
          description: Slots, when mode is TIME_SLOT.
        nights:
          type: array
          items:
            $ref: '#/components/schemas/NightAvailability'
          description: Per-night availability, when mode is NIGHTLY.
      description: Response message for ComputeAvailability.
    ComputeBookableRangesRequest:
      required:
      - resource
      type: object
      properties:
        resource:
          type: string
          description: "The resource to compute bookable ranges for.\n Format: resources/{resource}"
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: An exact time window, the natural form for TIME_SLOT resources.
        dateRange:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          description: "A calendar-date range in the resource's timezone, the natural\
            \ form for\n NIGHTLY resources."
        duration:
          pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
          type: string
          description: Minimum span length for TIME_SLOT resources.
        offering:
          type: string
          description: "Offering to derive duration/rules from.\n Format: resources/{resource}/offerings/{offering}"
        units:
          type: integer
          description: Number of units required to be free. Defaults to 1.
          format: int32
      description: Request message for ComputeBookableRanges.
    ComputeBookableRangesResponse:
      type: object
      properties:
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/BookableRange'
          description: The bookable ranges within the window.
      description: Response message for ComputeBookableRanges.
    DateRange:
      required:
      - startDate
      - endDate
      type: object
      properties:
        startDate:
          type: string
          description: Inclusive first date of the range.
          format: date
        endDate:
          type: string
          description: Exclusive end date of the range.
          format: date
      description: "A half-open range of calendar dates [start_date, end_date), evaluated\
        \ in the\n resource's local timezone. The natural query and exception shape\
        \ for NIGHTLY\n resources: end_date is the check-out date and is not itself\
        \ included."
    GoogleProtobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: The type of the serialized message.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that
        describes the type of the serialized message.
    Money:
      type: object
      properties:
        currencyCode:
          type: string
          description: The three-letter currency code defined in ISO 4217.
        units:
          type: string
          description: "The whole units of the amount.\n For example if `currencyCode`\
            \ is `\"USD\"`, then 1 unit is one US dollar."
        nanos:
          type: integer
          description: "Number of nano (10^-9) units of the amount.\n The value must\
            \ be between -999,999,999 and +999,999,999 inclusive.\n If `units` is\
            \ positive, `nanos` must be positive or zero.\n If `units` is zero, `nanos`\
            \ can be positive, zero, or negative.\n If `units` is negative, `nanos`\
            \ must be negative or zero.\n For example $-1.75 is represented as `units`=-1\
            \ and `nanos`=-750,000,000."
          format: int32
      description: Represents an amount of money with its currency type.
    NightAvailability:
      type: object
      properties:
        night:
          type: string
          description: The night, in the resource's local timezone.
          format: date
        freeUnits:
          type: integer
          description: Number of units of the pool free that night.
          format: int32
        closed:
          type: boolean
          description: Whether the resource is closed that night (exception/blackout).
        price:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Nightly price, when an offering was supplied.
      description: Per-night availability, produced for NIGHTLY resources.
    ResourceAvailability:
      type: object
      properties:
        resource:
          type: string
          description: "The resource these results are for.\n Format: resources/{resource}"
        mode:
          type: integer
          description: Which shape is populated, matching the resource's booking_mode.
          format: enum
        slots:
          type: array
          items:
            $ref: '#/components/schemas/Slot'
          description: Slots, when mode is TIME_SLOT.
        nights:
          type: array
          items:
            $ref: '#/components/schemas/NightAvailability'
          description: Per-night availability, when mode is NIGHTLY.
      description: Availability for one resource, used in batch responses.
    SearchAvailabilityRequest:
      type: object
      properties:
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: An exact time window, the natural form for TIME_SLOT resources.
        dateRange:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          description: "A calendar-date range in each resource's timezone, the natural\
            \ form for\n NIGHTLY resources; end_date is the check-out date."
        units:
          type: integer
          description: Number of units / party size required free. Defaults to 1.
          format: int32
        filter:
          type: string
          description: "Filter (AIP-160) over resource fields to narrow the catalog,\
            \ e.g.\n `type = RESOURCE_TYPE_ROOM`, `tags:\"beachfront\"`, or a display_name\
            \ match."
        orderBy:
          type: string
          description: "Sort order for matches, e.g. \"price\" or \"price desc\".\
            \ Defaults to price\n ascending."
        pageSize:
          type: integer
          description: Maximum number of matches to return. The server may cap this.
          format: int32
        pageToken:
          type: string
          description: Page token from a previous SearchAvailability call's next_page_token.
        includeUnavailable:
          type: boolean
          description: "If true, include resources that matched the filter but are\
            \ not bookable for\n the period (with bookable=false), instead of dropping\
            \ them."
      description: "Request message for SearchAvailability. Sweeps the catalog for\
        \ resources that\n are bookable over a period for a given party size, narrowed\
        \ by a resource\n filter and sorted for presentation. This is the storefront\
        \ query: one call\n returns the matching resources with a lead price, rather\
        \ than the caller\n listing resources and computing availability for each."
    SearchAvailabilityResponse:
      type: object
      properties:
        matches:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityMatch'
          description: The matching resources, ordered per order_by.
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for SearchAvailability.
    Slot:
      type: object
      properties:
        startTime:
          type: string
          description: Inclusive start of the slot.
          format: date-time
        endTime:
          type: string
          description: Exclusive end of the slot (start + offering/requested duration).
          format: date-time
        freeCount:
          type: integer
          description: Number of units free in this slot (capacity minus overlapping
            bookings).
          format: int32
        bookable:
          type: boolean
          description: Whether the slot can actually be booked (free and passes policy).
        price:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Price for booking this slot, when an offering was supplied.
      description: A discrete bookable time slot, produced for TIME_SLOT resources.
    Status:
      type: object
      properties:
        code:
          type: integer
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
          format: int32
        message:
          type: string
          description: A developer-facing error message, which should be in English.
            Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details]
            field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/GoogleProtobufAny'
          description: A list of messages that carry the error details.  There is
            a common set of message types for APIs to use.
      description: 'The `Status` type defines a logical error model that is suitable
        for different programming environments, including REST APIs and RPC APIs.
        It is used by [gRPC](https://github.com/grpc). Each `Status` message contains
        three pieces of data: error code, error message, and error details. You can
        find out more about this error model and how to work with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).'
    TimeWindow:
      required:
      - startTime
      - endTime
      type: object
      properties:
        startTime:
          type: string
          description: Inclusive start of the interval.
          format: date-time
        endTime:
          type: string
          description: Exclusive end of the interval.
          format: date-time
      description: "A half-open time interval [start_time, end_time). Used for query\
        \ windows and\n for a booking's reserved span in both TIME_SLOT and NIGHTLY\
        \ modes."
    UnbookableReason:
      type: object
      properties:
        code:
          type: integer
          description: Why the span is not bookable.
          format: enum
        message:
          type: string
          description: Human-readable explanation suitable for display, not for parsing.
      description: "A reason a span is not bookable, as a machine-readable code plus\
        \ a\n human-readable explanation. Clients should branch on code, never on\
        \ message."
    Booking:
      required:
      - resource
      - window
      type: object
      properties:
        name:
          type: string
          description: "The booking name.\n Format: bookings/{booking}"
        resource:
          type: string
          description: "The resource being booked.\n Format: resources/{resource}"
        offering:
          type: string
          description: "The offering being booked, when applicable.\n Format: resources/{resource}/offerings/{offering}"
        customer:
          type: string
          description: "The user the booking is for.\n Format: users/{user}"
        contact:
          allOf:
          - $ref: '#/components/schemas/Contact'
          description: "Contact details for the booker. Required when `customer` is\
            \ unset (a guest /\n walk-in booking); when `customer` is set these supplement\
            \ or override the\n user's profile contact for this booking."
        units:
          type: integer
          description: Number of units / party size reserved. Defaults to 1.
          format: int32
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: The reserved span. For NIGHTLY resources this spans check-in
            to check-out.
        assignedUnit:
          readOnly: true
          type: string
          description: Which specific unit of the pool was assigned (the shell's atomic
            pick).
        state:
          readOnly: true
          type: integer
          description: Current lifecycle state.
          format: enum
        holdExpireTime:
          readOnly: true
          type: string
          description: When the pending hold lapses, if not confirmed first.
          format: date-time
        price:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Computed subtotal before discounts.
        promoCode:
          type: string
          description: "The promo code to apply to this booking, set at creation,\
            \ if any.\n Format: promoCodes/{promo_code}"
        discount:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Discount applied from the promo code.
        total:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Final total after discounts.
        priceComponents:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/PriceComponent'
          description: "Itemized breakdown behind the total: the base charge, each\
            \ fee and tax, and\n each discount, as signed lines. `price` is the TYPE_BASE\
            \ subtotal and\n `total` is the sum of every component; these lines expose\
            \ the fees and taxes\n in between. Empty for simple bookings with no fees\
            \ or taxes configured."
        notes:
          type: string
          description: Free-form notes on the booking.
        attributes:
          type: object
          description: Arbitrary attributes.
        cancelReason:
          readOnly: true
          type: integer
          description: Why the booking was cancelled, when state is CANCELLED.
          format: enum
        createTime:
          readOnly: true
          type: string
          description: Creation timestamp (when the hold was placed).
          format: date-time
        updateTime:
          readOnly: true
          type: string
          description: Last-modification timestamp.
          format: date-time
        confirmTime:
          readOnly: true
          type: string
          description: When the booking was confirmed, if at all.
          format: date-time
        cancelTime:
          readOnly: true
          type: string
          description: When the booking was cancelled, if at all.
          format: date-time
        refundAmount:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Money'
          description: "Amount refunded on cancellation, computed from the resource's\
            \ cancellation\n policy and how far ahead of the booking start it was\
            \ cancelled. Set only\n once the booking is CANCELLED. Use PreviewCancellation\
            \ to see this before\n committing."
        refundPercent:
          readOnly: true
          type: integer
          description: Percentage of the total that `refund_amount` represents (0-100).
          format: int32
        holdTtl:
          pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
          type: string
          description: "Requested time-to-live of the hold, set at creation. The server\
            \ caps this\n and reflects the effective expiry in hold_expire_time."
        etag:
          type: string
          description: Opaque version for optimistic concurrency (AIP-154); echo on
            update/delete.
      description: "A reservation against a resource. The hold lifecycle lives here\
        \ as states\n rather than a separate service: CreateBooking places a PENDING_HOLD,\n\
        \ confirmation flips it to CONFIRMED, and an internal sweeper expires holds\
        \ that\n are never confirmed."
    CancelBookingRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: "The booking to cancel.\n Format: bookings/{booking}"
        reason:
          type: integer
          description: Why the booking is being cancelled.
          format: enum
        note:
          type: string
          description: Free-form note explaining the cancellation.
        requestId:
          type: string
          description: Caller-supplied idempotency key; identical retries return the
            first result.
      description: Request message for CancelBooking.
    ConfirmBookingRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: "The booking to confirm.\n Format: bookings/{booking}"
        paymentRef:
          type: string
          description: Opaque reference to the payment/settlement that confirmed this
            booking.
        requestId:
          type: string
          description: Caller-supplied idempotency key; identical retries return the
            first result.
      description: "Request message for ConfirmBooking. Confirmation normally arrives\
        \ via the\n payment webhook rather than a direct client call; either way it\
        \ flips a\n PENDING_HOLD to CONFIRMED."
    Contact:
      type: object
      properties:
        displayName:
          type: string
          description: Full name of the guest.
        email:
          type: string
          description: Email address for the confirmation and any follow-ups.
        phoneNumber:
          type: string
          description: Phone number in E.164 form (e.g. "+14155552671").
      description: "Contact details for the person a booking is for. When a booking\
        \ carries a\n `customer` (a users/{user} reference) these typically mirror\
        \ the user's\n profile; for walk-in or email-only bookings made by someone\
        \ who is not a\n registered user, this is the only contact information captured.\
        \ The server\n requires at least one reachable channel (email or phone) when\
        \ no customer is\n set."
    ListBookingsResponse:
      type: object
      properties:
        bookings:
          type: array
          items:
            $ref: '#/components/schemas/Booking'
          description: The page of bookings.
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for ListBookings.
    PreviewCancellationRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: "The booking to preview a cancellation for.\n Format: bookings/{booking}"
      description: "Request message for PreviewCancellation. Computes the refund a\
        \ cancellation\n would yield right now, under the resource's cancellation\
        \ policy, without\n cancelling the booking."
    PreviewCancellationResponse:
      type: object
      properties:
        refundable:
          type: boolean
          description: Whether cancelling now would refund anything.
        refundPercent:
          type: integer
          description: Percentage of the total that would be refunded (0-100).
          format: int32
        refundAmount:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Amount that would be refunded now.
        nonRefundableAmount:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Amount that would be retained (total minus refund_amount).
        policySummary:
          type: string
          description: Human-readable summary of the policy tier that applied, for
            display.
      description: Response message for PreviewCancellation.
    PriceComponent:
      type: object
      properties:
        type:
          type: integer
          description: Which kind of line this is.
          format: enum
        code:
          type: string
          description: "Stable machine code for the line, e.g. \"base\", \"cleaning_fee\"\
            ,\n \"occupancy_tax\", or a promo code. Clients key display and logic\
            \ off this."
        displayName:
          type: string
          description: Human-readable label suitable for display on an itemized receipt.
        amount:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: "Signed amount: positive for charges (base, fees, taxes), negative\
            \ for\n discounts. Summing every component yields the booking total."
      description: "One line in a price breakdown: a base charge, a fee, a tax, or\
        \ a discount.\n Clients branch on `type` and `code`; the signed `amount` rolls\
        \ up to the\n booking total (charges positive, discounts negative)."
    RescheduleBookingRequest:
      required:
      - name
      - window
      type: object
      properties:
        name:
          type: string
          description: "The booking to reschedule.\n Format: bookings/{booking}"
        window:
          allOf:
          - $ref: '#/components/schemas/TimeWindow'
          description: The new reserved span.
        offering:
          type: string
          description: "The new offering, when changing it as part of the reschedule.\n\
            \ Format: resources/{resource}/offerings/{offering}"
        requestId:
          type: string
          description: Caller-supplied idempotency key that dedupes retries of this
            reschedule.
      description: "Request message for RescheduleBooking. Atomically moves a booking\
        \ to a new\n span (and optionally offering), re-running availability and the\
        \ exclusion\n check on the new window."
    ListUsersResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          description: The page of users.
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for ListUsers.
    MembershipSummary:
      type: object
      properties:
        organisation:
          readOnly: true
          type: string
          description: "The organisation.\n Format: organisations/{organisation}"
        orgDisplayName:
          readOnly: true
          type: string
          description: Cached display name of the organisation.
        role:
          readOnly: true
          type: string
          description: The user's role in the organisation (an OrganisationRole value
            name).
      description: A compact view of an organisation the user belongs to.
    User:
      type: object
      properties:
        name:
          type: string
          description: "The user name. The alias \"users/me\" resolves to the caller.\n\
            \ Format: users/{user}"
        email:
          readOnly: true
          type: string
          description: Email address, sourced from the IdP.
        displayName:
          type: string
          description: Display name.
        avatarUrl:
          type: string
          description: Avatar image URL.
        locale:
          type: string
          description: BCP 47 locale (e.g. "en-US").
        timeZone:
          type: string
          description: IANA time zone (e.g. "America/New_York").
        memberships:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MembershipSummary'
          description: The organisations this user belongs to, with role.
        createTime:
          readOnly: true
          type: string
          description: Creation timestamp.
          format: date-time
        updateTime:
          readOnly: true
          type: string
          description: Last-modification timestamp.
          format: date-time
        etag:
          type: string
          description: Opaque version for optimistic concurrency (AIP-154); echo on
            update.
      description: "A signed-in person. Identity is deliberately thin: actual login\
        \ is an OIDC\n redirect flow handled over plain HTTP by the IdP, so most of\
        \ \"auth\" never\n appears as an RPC. Email and identity come from the IdP\
        \ and are read-only\n here; only profile preferences are editable."
    InviteMemberRequest:
      required:
      - parent
      - email
      - role
      type: object
      properties:
        parent:
          type: string
          description: "The organisation to invite the member to.\n Format: organisations/{organisation}"
        email:
          type: string
          description: Email address to invite.
        role:
          type: integer
          description: Role to grant on acceptance.
          format: enum
        requestId:
          type: string
          description: Caller-supplied idempotency key; identical retries return the
            first result.
      description: Request message for InviteMember.
    InviteMemberResponse:
      type: object
      properties:
        member:
          allOf:
          - $ref: '#/components/schemas/Member'
          description: The created member (in INVITED state).
      description: Response message for InviteMember.
    ListMembersResponse:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
          description: The page of members.
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for ListMembers.
    ListOrganisationsResponse:
      type: object
      properties:
        organisations:
          type: array
          items:
            $ref: '#/components/schemas/Organisation'
          description: The page of organisations (those the caller belongs to).
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for ListOrganisations.
    Member:
      required:
      - email
      - role
      type: object
      properties:
        name:
          type: string
          description: "The member name.\n Format: organisations/{organisation}/members/{member}"
        user:
          readOnly: true
          type: string
          description: "The user, once the invite is accepted.\n Format: users/{user}"
        email:
          type: string
          description: The invited email address.
        displayName:
          readOnly: true
          type: string
          description: Cached display name of the member.
        role:
          type: integer
          description: The member's role in the organisation.
          format: enum
        state:
          readOnly: true
          type: integer
          description: Confirmation state of the membership.
          format: enum
        inviter:
          readOnly: true
          type: string
          description: "The user who issued the invite.\n Format: users/{user}"
        createTime:
          readOnly: true
          type: string
          description: Creation timestamp (when the invite was created).
          format: date-time
        updateTime:
          readOnly: true
          type: string
          description: Last-modification timestamp.
          format: date-time
        etag:
          type: string
          description: Opaque version for optimistic concurrency (AIP-154); echo on
            update/delete.
      description: The membership of a user in an organisation, with their role.
    Organisation:
      required:
      - displayName
      type: object
      properties:
        name:
          type: string
          description: "The organisation name.\n Format: organisations/{organisation}"
        displayName:
          type: string
          description: Human-friendly organisation name (e.g. "Acme Inc.").
        slug:
          type: string
          description: URL-safe slug, unique across organisations.
        billingEmail:
          type: string
          description: Billing contact email.
        state:
          readOnly: true
          type: integer
          description: Lifecycle state.
          format: enum
        settings:
          type: object
          description: Arbitrary organisation-level settings.
        memberCount:
          readOnly: true
          type: string
          description: Number of members across all states.
        createTime:
          readOnly: true
          type: string
          description: Creation timestamp.
          format: date-time
        updateTime:
          readOnly: true
          type: string
          description: Last-modification timestamp.
          format: date-time
        etag:
          type: string
          description: Opaque version for optimistic concurrency (AIP-154); echo on
            update/delete.
      description: "A tenant. Organisation is the unit of multi-tenancy; the shell\
        \ enforces isolation\n with row-level security keyed off the caller's organisation,\
        \ so most resource names\n stay flat and the organisation appears explicitly\
        \ only here."
    ListPromoCodesResponse:
      type: object
      properties:
        promoCodes:
          type: array
          items:
            $ref: '#/components/schemas/PromoCode'
          description: The page of promo codes.
        nextPageToken:
          type: string
          description: Token to pass as page_token to retrieve the next page; empty
            when no more.
      description: Response message for ListPromoCodes.
    PromoCode:
      required:
      - code
      - discountType
      type: object
      properties:
        name:
          type: string
          description: "The promo code name.\n Format: promoCodes/{promo_code}"
        code:
          type: string
          description: The human-entered code, unique across all promo codes (e.g.
            "SUMMER25").
        displayName:
          type: string
          description: Internal display name (not shown to customers).
        description:
          type: string
          description: Free-form description.
        discountType:
          type: integer
          description: Whether the discount is a percentage or a fixed amount.
          format: enum
        percentOff:
          type: integer
          description: Percentage off (1-100), when discount_type is PERCENTAGE.
          format: int32
        amountOff:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Fixed amount off, when discount_type is FIXED_AMOUNT.
        redeemStartTime:
          type: string
          description: Earliest the code can be redeemed. Unset means no lower bound.
          format: date-time
        redeemEndTime:
          type: string
          description: Latest the code can be redeemed. Unset means no upper bound.
          format: date-time
        maxRedemptions:
          type: string
          description: Maximum total redemptions across all customers. Zero means
            unlimited.
        perCustomerLimit:
          type: integer
          description: Maximum redemptions per customer. Zero means unlimited.
          format: int32
        minSubtotal:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Minimum subtotal required for the code to apply.
        applicableResources:
          type: array
          items:
            type: string
          description: "Resources the code applies to. Empty means all resources.\n\
            \ Format: resources/{resource}"
        applicableOfferings:
          type: array
          items:
            type: string
          description: "Offerings the code applies to. Empty means all offerings.\n\
            \ Format: resources/{resource}/offerings/{offering}"
        redemptionCount:
          readOnly: true
          type: string
          description: How many times the code has been redeemed.
        state:
          readOnly: true
          type: integer
          description: "Derived lifecycle state: ACTIVE, DISABLED (when `disabled`\
            \ is set), or\n EXPIRED (past the window or out of redemptions)."
          format: enum
        disabled:
          type: boolean
          description: If true, the code is manually disabled regardless of its window
            and caps.
        createTime:
          readOnly: true
          type: string
          description: Creation timestamp.
          format: date-time
        updateTime:
          readOnly: true
          type: string
          description: Last-modification timestamp.
          format: date-time
        etag:
          type: string
          description: Opaque version for optimistic concurrency (AIP-154); echo on
            update/delete.
      description: "A redeemable discount applied to a booking's subtotal. Scoped\
        \ by a redemption\n window, usage caps, a minimum subtotal, and an optional\
        \ set of resources /\n offerings it applies to."
    ValidatePromoCodeRequest:
      required:
      - code
      - subtotal
      type: object
      properties:
        code:
          type: string
          description: The human-entered code to validate (e.g. "SUMMER25").
        subtotal:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Subtotal the discount would apply to.
        resource:
          type: string
          description: "Resource being booked, for scope checks.\n Format: resources/{resource}"
        offering:
          type: string
          description: "Offering being booked, for scope checks.\n Format: resources/{resource}/offerings/{offering}"
        customer:
          type: string
          description: "Customer redeeming the code, for per-customer limit checks.\n\
            \ Format: users/{user}"
      description: "Request message for ValidatePromoCode. Computes the discount a\
        \ code would\n apply to a prospective booking without redeeming it."
    ValidatePromoCodeResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the code is valid and applicable to the given context.
        reason:
          type: string
          description: Why the code is not valid, when valid is false.
        promoCode:
          type: string
          description: "The resolved promo code, when valid.\n Format: promoCodes/{promo_code}"
        discountAmount:
          allOf:
          - $ref: '#/components/schemas/Money'
[...]
