# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: ChannelService API
    description: |-
        ChannelService is the distribution layer: it manages a property's connections
         to OTAs/GDS and drives 2-way ARI — pushing availability/rates/inventory out per
         mapped unit and landing reservations made on a channel back as bookings. The
         per-OTA adapters that actually talk to each channel run behind these methods.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/channels:
        get:
            tags:
                - ChannelService
            description: Lists channels.
            operationId: ChannelService_ListChannels
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of channels to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListChannels call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `property = "properties/9"`,
                     `type = CHANNEL_TYPE_AGODA`, or `state = CHANNEL_STATE_CONNECTED`.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListChannelsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - ChannelService
            description: Creates a channel connection for a property.
            operationId: ChannelService_CreateChannel
            parameters:
                - name: channelId
                  in: query
                  description: Optional caller-chosen ID for the channel; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Channel'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Channel'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}:
        get:
            tags:
                - ChannelService
            description: Gets a single channel.
            operationId: ChannelService_GetChannel
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Channel'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - ChannelService
            description: Deletes a channel connection.
            operationId: ChannelService_DeleteChannel
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: force
                  in: query
                  description: |-
                    If true, delete the channel and its unit mappings; if false and mappings
                     exist, the call fails.
                  schema:
                    type: boolean
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - ChannelService
            description: Updates a channel.
            operationId: ChannelService_UpdateChannel
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Channel'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Channel'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}/syncEvents:
        get:
            tags:
                - ChannelService
            description: Lists a channel's sync events.
            operationId: ChannelService_ListSyncEvents
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of events to return.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListSyncEvents call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `direction = SYNC_DIRECTION_OUTBOUND`,
                     `state = SYNC_STATE_FAILED`.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "event_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListSyncEventsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}/syncStatus:
        get:
            tags:
                - ChannelService
            description: Reports a channel's sync health.
            operationId: ChannelService_GetChannelSyncStatus
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ChannelSyncStatus'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}/unitMappings:
        get:
            tags:
                - ChannelService
            description: Lists the unit mappings on a channel.
            operationId: ChannelService_ListUnitMappings
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of mappings to return.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListUnitMappings call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression (AIP-160), e.g. `state = MAPPING_STATE_UNMAPPED`.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListUnitMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - ChannelService
            description: Maps a unit to the channel's external room type / rate plan.
            operationId: ChannelService_CreateUnitMapping
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: unitMappingId
                  in: query
                  description: Optional caller-chosen ID for the mapping; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UnitMapping'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnitMapping'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}/unitMappings/{unitMapping}:
        get:
            tags:
                - ChannelService
            description: Gets a single unit mapping.
            operationId: ChannelService_GetUnitMapping
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: unitMapping
                  in: path
                  description: The unitMapping id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnitMapping'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - ChannelService
            description: Deletes a unit mapping.
            operationId: ChannelService_DeleteUnitMapping
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: unitMapping
                  in: path
                  description: The unitMapping id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - ChannelService
            description: Updates a unit mapping.
            operationId: ChannelService_UpdateUnitMapping
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
                - name: unitMapping
                  in: path
                  description: The unitMapping id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UnitMapping'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnitMapping'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}:disable:
        post:
            tags:
                - ChannelService
            description: Disables a channel, pausing ARI push and reservation pull.
            operationId: ChannelService_DisableChannel
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DisableChannelRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Channel'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}:enable:
        post:
            tags:
                - ChannelService
            description: Enables a channel, resuming ARI push and reservation pull.
            operationId: ChannelService_EnableChannel
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EnableChannelRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Channel'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}:importReservation:
        post:
            tags:
                - ChannelService
            description: Lands a reservation made on a channel, reconciling it into a booking.
            operationId: ChannelService_ImportReservation
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ImportReservationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ImportReservationResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/channels/{channel}:pushAri:
        post:
            tags:
                - ChannelService
            description: Pushes availability/rate/restriction updates for a channel's mapped units.
            operationId: ChannelService_PushAri
            parameters:
                - name: channel
                  in: path
                  description: The channel id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PushAriRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PushAriResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        AriUpdate:
            required:
                - unit
                - date
            type: object
            properties:
                unit:
                    type: string
                    description: |-
                        The unit this update is for.
                         Format: properties/{property}/units/{unit}
                date:
                    type: string
                    description: The date (in the unit's timezone) the values apply to.
                    format: date
                available:
                    type: integer
                    description: Number of units available to sell on this date.
                    format: int32
                rate:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Nightly rate to publish for this date.
                restrictions:
                    allOf:
                        - $ref: '#/components/schemas/Restrictions'
                    description: Booking restrictions to publish for this date.
            description: |-
                One day's availability, rate, and restrictions for a unit — the atomic unit of
                 an outbound ARI push. It is the channel-facing projection of the unit's price
                 and its Schedule's stay constraints for a single date.
        Channel:
            required:
                - property
                - type
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The channel name.
                         Format: channels/{channel}
                property:
                    type: string
                    description: |-
                        The property this channel distributes.
                         Format: properties/{property}
                type:
                    type: integer
                    description: |-
                        Which OTA/GDS this connects to. Immutable: the adapter and external ID space
                         are fixed per channel.
                    format: enum
                displayName:
                    type: string
                    description: Human-friendly label (e.g. "Booking.com — Goa Resort").
                externalPropertyId:
                    type: string
                    description: The channel's own code for this hotel (e.g. the Booking.com hotel id).
                credentialRef:
                    type: string
                    description: |-
                        Opaque handle to the stored credentials for this connection (a secret-manager
                         key or vault path). The secrets themselves are never returned by the API.
                state:
                    readOnly: true
                    type: integer
                    description: Connection state.
                    format: enum
                lastSyncTime:
                    readOnly: true
                    type: string
                    description: When ARI/reservations last synced successfully.
                    format: date-time
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A connection between one property and one distribution channel (OTA/GDS). It
                 is the anchor for 2-way ARI: availability/rates/inventory are pushed out per
                 mapped unit, and reservations made on the channel are pulled in as bookings.
                 Credentials are never carried in the API — only an opaque handle to where they
                 are stored.
        ChannelSyncStatus:
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The sync-status name.
                         Format: channels/{channel}/syncStatus
                state:
                    readOnly: true
                    type: integer
                    description: Current connection state.
                    format: enum
                lastSyncTime:
                    type: string
                    description: When ARI/reservations last synced successfully.
                    format: date-time
                pendingCount:
                    type: integer
                    description: Count of updates still queued.
                    format: int32
                failedCount:
                    type: integer
                    description: Count of updates that failed since the last success.
                    format: int32
                lastError:
                    type: string
                    description: Most recent error message, when the last sync failed.
            description: |-
                A rollup of a channel's sync health, modeled as a singleton sub-resource of the
                 channel (one per channel) and read via GetChannelSyncStatus.
        Contact:
            type: object
            properties:
                displayName:
                    type: string
                    description: Full name of the guest.
                email:
                    type: string
                    description: Email address for the confirmation and any follow-ups.
                phoneNumber:
                    type: string
                    description: Phone number in E.164 form (e.g. "+14155552671").
            description: |-
                Contact details for the person a booking is for. When a booking carries a
                 `customer` (a users/{user} reference) these typically mirror the user's
                 profile; for walk-in or email-only bookings made by someone who is not a
                 registered user, this is the only contact information captured. The server
                 requires at least one reachable channel (email or phone) when no customer is
                 set.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                A half-open range of calendar dates [start_date, end_date), evaluated in the
                 resource's local timezone. The natural query and exception shape for NIGHTLY
                 resources: end_date is the check-out date and is not itself included.
        DisableChannelRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The channel to disable (pause ARI push and reservation pull).
                         Format: channels/{channel}
            description: Request message for DisableChannel.
        EnableChannelRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The channel to enable (resume ARI push and reservation pull).
                         Format: channels/{channel}
            description: Request message for EnableChannel.
        ExternalReservation:
            required:
                - channel
                - externalId
                - unit
                - stay
                - op
            type: object
            properties:
                channel:
                    type: string
                    description: |-
                        The channel the reservation came from.
                         Format: channels/{channel}
                externalId:
                    type: string
                    description: |-
                        The channel's own id for this reservation (used for idempotency and
                         modify/cancel matching).
                unit:
                    type: string
                    description: |-
                        The resolved freebusy unit being booked.
                         Format: properties/{property}/units/{unit}
                guest:
                    allOf:
                        - $ref: '#/components/schemas/Contact'
                    description: Guest contact details supplied by the channel.
                stay:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: 'The stay: check-in to check-out (end_date is the check-out date).'
                units:
                    type: integer
                    description: Number of units / rooms reserved. Defaults to 1.
                    format: int32
                total:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: The reservation total as charged on the channel.
                op:
                    type: integer
                    description: Whether this is a create, modify, or cancel.
                    format: enum
            description: |-
                A reservation as it exists on the channel, landed inbound so it can be
                 reconciled into a freebusy Booking. The unit is resolved from the channel's
                 external ids via the UnitMapping.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ImportReservationRequest:
            required:
                - reservation
            type: object
            properties:
                reservation:
                    allOf:
                        - $ref: '#/components/schemas/ExternalReservation'
                    description: The reservation as it exists on the channel.
            description: |-
                Request message for ImportReservation. Lands a reservation made on a channel so
                 it reconciles into a freebusy Booking (create/modify/cancel).
        ImportReservationResponse:
            type: object
            properties:
                booking:
                    type: string
                    description: |-
                        The freebusy booking created or updated from the reservation.
                         Format: bookings/{booking}
            description: Response message for ImportReservation.
        ListChannelsResponse:
            type: object
            properties:
                channels:
                    type: array
                    items:
                        $ref: '#/components/schemas/Channel'
                    description: The page of channels.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListChannels.
        ListSyncEventsResponse:
            type: object
            properties:
                syncEvents:
                    type: array
                    items:
                        $ref: '#/components/schemas/SyncEvent'
                    description: The page of sync events.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListSyncEvents.
        ListUnitMappingsResponse:
            type: object
            properties:
                unitMappings:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnitMapping'
                    description: The page of unit mappings.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListUnitMappings.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        PushAriRequest:
            required:
                - channel
                - updates
            type: object
            properties:
                channel:
                    type: string
                    description: |-
                        The channel to push to.
                         Format: channels/{channel}
                updates:
                    type: array
                    items:
                        $ref: '#/components/schemas/AriUpdate'
                    description: The per-unit, per-date updates to publish.
            description: |-
                Request message for PushAri. Pushes availability/rate/restriction updates for a
                 channel's mapped units (AIP-231 batch shape). Unmapped units are rejected.
        PushAriResponse:
            type: object
            properties:
                accepted:
                    type: integer
                    description: Number of updates accepted for publishing.
                    format: int32
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/SyncEvent'
                    description: Per-update sync events (queued or failed), for observability.
            description: Response message for PushAri.
        Restrictions:
            type: object
            properties:
                minStay:
                    type: integer
                    description: Minimum length of stay. Zero means no minimum.
                    format: int32
                maxStay:
                    type: integer
                    description: Maximum length of stay. Zero means no maximum.
                    format: int32
                arrivalClosed:
                    type: boolean
                    description: 'Closed to arrival: a stay may not start on this date.'
                departureClosed:
                    type: boolean
                    description: 'Closed to departure: a stay may not end on this date.'
                stopSell:
                    type: boolean
                    description: 'Stop-sell: the unit is not sellable on this date regardless of inventory.'
            description: Sell restrictions published to a channel for a date.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        SyncEvent:
            type: object
            properties:
                direction:
                    type: integer
                    description: Whether this was an outbound push or an inbound pull.
                    format: enum
                channel:
                    type: string
                    description: |-
                        The channel involved.
                         Format: channels/{channel}
                unit:
                    type: string
                    description: |-
                        The unit involved, when the event is unit-scoped.
                         Format: properties/{property}/units/{unit}
                date:
                    type: string
                    description: The date the event concerned, when applicable.
                    format: date
                state:
                    readOnly: true
                    type: integer
                    description: Outcome.
                    format: enum
                error:
                    type: string
                    description: Human-readable error when state is FAILED.
                eventTime:
                    type: string
                    description: When the event occurred.
                    format: date-time
            description: |-
                A record of one sync attempt, for observability of the ARI push / reservation
                 pull. Returned by ListSyncEvents; not a standalone resource.
        UnitMapping:
            required:
                - unit
                - externalRoomTypeId
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The mapping name.
                         Format: channels/{channel}/unitMappings/{unit_mapping}
                unit:
                    type: string
                    description: |-
                        The freebusy unit being mapped.
                         Format: properties/{property}/units/{unit}
                externalRoomTypeId:
                    type: string
                    description: The channel's room-type id this unit maps to.
                externalRatePlanId:
                    type: string
                    description: The channel's rate-plan id this unit maps to.
                state:
                    readOnly: true
                    type: integer
                    description: Mapping state.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                Maps a freebusy Unit to its counterpart on the channel. ARI for a unit only
                 flows once a MAPPED mapping exists: the external room-type and rate-plan ids
                 key the availability/rate/restriction push and resolve inbound reservations
                 back to the right unit.
tags:
    - name: ChannelService
