# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: LicenceService API
    description: |-
        LicenceService manages the regulatory licences/certificates of properties
         and their units (trade licences, fire-safety certificates, per-room liquor
         licences, and the like): their issuing authority, validity window, and
         scanned attachment. Every licence is parented by its property; the licence's
         `target` says whether it covers the whole property or the single unit named
         in its `unit` field. Built for compliance workflows such as listing licences
         by expiry_date to find those due for renewal.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/properties/{property}/licences:
        get:
            tags:
                - LicenceService
            description: |-
                Lists the regulatory licences/certificates under a property — both
                 property-wide and per-unit ones.
            operationId: LicenceService_ListLicences
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of licences to return. Must be at most 1000; larger values are rejected.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListLicences call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `type = LICENCE_TYPE_FIRE_SAFETY`,
                     `target = LICENCE_TARGET_UNIT`, `unit = properties/p1/units/u1`, or
                     `expiry_date <= 2026-08-01` to find licences due for renewal.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "expiry_date" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListLicencesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - LicenceService
            description: |-
                Creates a licence under a property, e.g. after uploading a scan of a trade
                 or fire-safety certificate. Set the licence's `unit` to cover a single
                 unit instead of the whole property.
            operationId: LicenceService_CreateLicence
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: licenceId
                  in: query
                  description: Optional caller-chosen ID for the licence; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Licence'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Licence'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/licences/{licence}:
        get:
            tags:
                - LicenceService
            description: Gets a single licence.
            operationId: LicenceService_GetLicence
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: licence
                  in: path
                  description: The licence id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Licence'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - LicenceService
            description: Deletes a licence.
            operationId: LicenceService_DeleteLicence
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: licence
                  in: path
                  description: The licence id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - LicenceService
            description: Updates a licence, e.g. to record its renewal.
            operationId: LicenceService_UpdateLicence
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: licence
                  in: path
                  description: The licence id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Licence'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Licence'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        Attachment:
            type: object
            properties:
                filename:
                    type: string
                    description: Original filename as uploaded.
                mimeType:
                    type: string
                    description: MIME type of the file (e.g. "application/pdf", "image/jpeg").
                sizeBytes:
                    type: string
                    description: Size of the file in bytes.
                content:
                    type: string
                    description: |-
                        Raw file content, stored inline in the database. Cleared once the file is
                         migrated to object storage, at which point `uri` takes over.
                    format: bytes
                uri:
                    type: string
                    description: |-
                        Location of the file once moved to object storage (e.g. an s3:// or
                         https:// URL). Unset while the file lives inline in `content`.
                uploadTime:
                    readOnly: true
                    type: string
                    description: When the file was uploaded.
                    format: date-time
            description: |-
                An uploaded file attached to a document- or licence-carrying record (e.g. a
                 guest's IdDocument scan, or a property/unit licence certificate). The bytes
                 are stored inline in `content` today; `uri` is populated once the file is
                 migrated to object storage (S3 or any CDN-fronted host). At most one of the
                 two is authoritative at a time — prefer `uri` when both are set.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Licence:
            required:
                - type
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The licence name.
                         Format: properties/{property}/licences/{licence}
                target:
                    readOnly: true
                    type: integer
                    description: |-
                        What the licence covers: the whole property, or the single unit named in
                         `unit`. Derived from whether `unit` is set at create time.
                    format: enum
                unit:
                    type: string
                    description: |-
                        The unit this licence covers, for a LICENCE_TARGET_UNIT licence; unset for
                         a property-wide licence. Must belong to the parent property.
                         Format: properties/{property}/units/{unit}
                type:
                    type: integer
                    description: What kind of licence/certificate this is.
                    format: enum
                licenceNumber:
                    type: string
                    description: Licence/certificate number as printed by the issuing authority.
                issuingAuthority:
                    type: string
                    description: The authority or body that issued the licence (e.g. "Municipal Corporation of Goa").
                issueDate:
                    type: string
                    description: Date the licence was issued.
                    format: date
                expiryDate:
                    type: string
                    description: |-
                        Date the licence expires. List calls may filter on this field (e.g.
                         `expiry_date <= 2026-08-01`) to find licences due for renewal.
                    format: date
                attachment:
                    allOf:
                        - $ref: '#/components/schemas/Attachment'
                    description: Scanned copy of the licence certificate.
                notes:
                    type: string
                    description: Any additional free-text notes.
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state. New licences start ACTIVE (database default).
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A regulatory licence or certificate held by a Property or one of its Units
                 (e.g. trade licence, fire safety NOC, per-room liquor licence). One resource
                 covers both: every licence is parented by the property, `target` says what it
                 covers, and a unit licence names its unit in `unit`. Tracks the issuing
                 authority and validity window so `expiry_date` can be filtered on to find
                 licences due for renewal; the certificate itself is carried in `attachment`.
                 A standalone resource (own Get/List/Create/Update/Delete), like Unit, rather
                 than an embedded repeated field like Media, so a renewal doesn't require
                 resending the whole Property.
        ListLicencesResponse:
            type: object
            properties:
                licences:
                    type: array
                    items:
                        $ref: '#/components/schemas/Licence'
                    description: The page of licences.
                nextPageToken:
                    type: string
                    description: Next page token. Omitted if this is the last page.
            description: Response message for ListLicences.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: LicenceService
