# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: PropertyService API
    description: |-
        PropertyService is the catalog of hotels (properties) and the bookable units
         (room types) within them. Properties carry showcase media and guest-facing
         policy; units carry pricing, occupancy, and availability inputs.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/properties:
        get:
            tags:
                - PropertyService
            description: Lists properties.
            operationId: PropertyService_ListProperties
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of properties to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListProperties call, for pagination.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `organisation = "organisations/7"`,
                     `state = PROPERTY_STATE_ACTIVE`, `tags:"beachfront"`, or a display_name match.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "display_name" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListPropertiesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - PropertyService
            description: Creates a property. The caller's chain becomes its owner.
            operationId: PropertyService_CreateProperty
            parameters:
                - name: propertyId
                  in: query
                  description: Optional caller-chosen ID for the property; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Property'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Property'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}:
        get:
            tags:
                - PropertyService
            description: Gets a single property.
            operationId: PropertyService_GetProperty
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Property'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - PropertyService
            description: Updates a property.
            operationId: PropertyService_UpdateProperty
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Property'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Property'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units:
        get:
            tags:
                - PropertyService
            description: Lists the units (room types) within a property.
            operationId: PropertyService_ListUnits
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of units to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListUnits call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `type = UNIT_TYPE_ROOM`,
                     `state = UNIT_STATE_ACTIVE`, or a match on display_name.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "display_name" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListUnitsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - PropertyService
            description: Creates a unit within a property.
            operationId: PropertyService_CreateUnit
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unitId
                  in: query
                  description: Optional caller-chosen ID for the unit; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Unit'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unit'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}/units/{unit}:
        get:
            tags:
                - PropertyService
            description: Gets a single unit.
            operationId: PropertyService_GetUnit
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unit'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - PropertyService
            description: Deletes a unit from a property.
            operationId: PropertyService_DeleteUnit
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - PropertyService
            description: Updates a unit.
            operationId: PropertyService_UpdateUnit
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
                - name: unit
                  in: path
                  description: The unit id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Unit'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Unit'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}:archive:
        post:
            tags:
                - PropertyService
            description: Archives a property, hiding it from the storefront and new bookings.
            operationId: PropertyService_ArchiveProperty
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ArchivePropertyRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Property'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/properties/{property}:unarchive:
        post:
            tags:
                - PropertyService
            description: Unarchives a property, restoring it to the active state.
            operationId: PropertyService_UnarchiveProperty
            parameters:
                - name: property
                  in: path
                  description: The property id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UnarchivePropertyRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Property'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        ArchivePropertyRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The property to archive.
                         Format: properties/{property}
            description: Request message for ArchiveProperty.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                A half-open range of calendar dates [start_date, end_date), evaluated in the
                 resource's local timezone. The natural query and exception shape for NIGHTLY
                 resources: end_date is the check-out date and is not itself included.
        Fee:
            required:
                - code
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "cleaning_fee".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                amount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Fixed fee amount, when charging a flat fee.
                percent:
                    type: integer
                    description: Percent of the base subtotal (1-100), when charging a proportional fee.
                    format: int32
                pricingUnit:
                    type: integer
                    description: |-
                        What the fee is charged per (per booking, per night, per person). Defaults
                         to per booking.
                    format: enum
                taxable:
                    type: boolean
                    description: Whether this fee is included in the taxable base.
            description: |-
                A fee added on top of a unit's base subtotal. Exactly one of `amount` or
                 `percent` is set. Surfaces as a TYPE_FEE line in a booking's price_components.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListPropertiesResponse:
            type: object
            properties:
                properties:
                    type: array
                    items:
                        $ref: '#/components/schemas/Property'
                    description: The page of properties.
                nextPageToken:
                    type: string
                    description: Next page token, if more results remain. Omitted if this is the last page.
            description: Response message for ListProperties.
        ListUnitsResponse:
            type: object
            properties:
                units:
                    type: array
                    items:
                        $ref: '#/components/schemas/Unit'
                    description: The page of units.
                nextPageToken:
                    type: string
                    description: Next page token. Omitted if this is the last page.
            description: Response message for ListUnits.
        LosDiscount:
            required:
                - minNights
            type: object
            properties:
                minNights:
                    type: integer
                    description: Minimum nights for the discount to apply.
                    format: int32
                percentOff:
                    type: integer
                    description: Percent off the subtotal (1-100), when discounting by percentage.
                    format: int32
                amountOff:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Fixed amount off the subtotal, when discounting by a flat amount.
            description: |-
                A discount applied to a NIGHTLY subtotal once the stay reaches a minimum
                 length. Exactly one of percent_off or amount_off is set.
        Media:
            required:
                - uri
                - type
            type: object
            properties:
                uri:
                    type: string
                    description: Publicly reachable URL of the asset (an S3/CDN link or any HTTPS URL).
                type:
                    type: integer
                    description: What kind of asset this is; DOCUMENT covers PDFs/policies/house rules.
                    format: enum
                title:
                    type: string
                    description: Short human-readable caption/title for display.
                description:
                    type: string
                    description: Longer description or alt text.
                mimeType:
                    type: string
                    description: MIME type of the asset (e.g. "image/jpeg", "application/pdf"), when known.
                sortOrder:
                    type: integer
                    description: Ordering hint within a gallery; lower sorts first.
                    format: int32
                primary:
                    type: boolean
                    description: Whether this is the primary/hero asset of its gallery.
            description: |-
                A reference to a media asset — a showcase image, video, floor plan, virtual
                 tour, or a document (PDF fact sheet, policy, house rules). The bytes live in
                 object storage (S3 or any HTTP-reachable host); this message only carries the
                 link and its presentation metadata. Attached wherever a resource wants a
                 gallery, e.g. a Property (hotel) or a Unit (room).
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        Policy:
            type: object
            properties:
                checkinTime:
                    allOf:
                        - $ref: '#/components/schemas/TimeOfDay'
                    description: Local check-in time (e.g. 14:00).
                checkoutTime:
                    allOf:
                        - $ref: '#/components/schemas/TimeOfDay'
                    description: Local check-out time (e.g. 11:00).
                houseRules:
                    type: array
                    items:
                        type: string
                    description: House rules shown to guests (e.g. "No smoking", "Pets on request").
                notes:
                    type: string
                    description: Any additional free-text notes displayed with the policy.
            description: |-
                Guest-facing, informational property policy: what to *display* to a guest
                 (check-in/out hours, house rules). The enforced refund/stay rules that gate
                 bookability live on each Unit's Schedule (freebusy.schedule.v1), not here, so
                 there is a single source of truth for enforcement.
        PostalAddress:
            type: object
            properties:
                revision:
                    type: integer
                    description: |-
                        The schema revision of the `PostalAddress`. This must be set to 0, which is
                         the latest revision.

                         All new revisions **must** be backward compatible with old revisions.
                    format: int32
                regionCode:
                    type: string
                    description: |-
                        Required. CLDR region code of the country/region of the address. This
                         is never inferred and it is up to the user to ensure the value is
                         correct. See https://cldr.unicode.org/ and
                         https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html
                         for details. Example: "CH" for Switzerland.
                languageCode:
                    type: string
                    description: |-
                        Optional. BCP-47 language code of the contents of this address (if
                         known). This is often the UI language of the input form or is expected
                         to match one of the languages used in the address' country/region, or their
                         transliterated equivalents.
                         This can affect formatting in certain countries, but is not critical
                         to the correctness of the data and will never affect any validation or
                         other non-formatting related operations.

                         If this value is not known, it should be omitted (rather than specifying a
                         possibly incorrect default).

                         Examples: "zh-Hant", "ja", "ja-Latn", "en".
                postalCode:
                    type: string
                    description: |-
                        Optional. Postal code of the address. Not all countries use or require
                         postal codes to be present, but where they are used, they may trigger
                         additional validation with other parts of the address (for example,
                         state or zip code validation in the United States).
                sortingCode:
                    type: string
                    description: |-
                        Optional. Additional, country-specific, sorting code. This is not used
                         in most regions. Where it is used, the value is either a string like
                         "CEDEX", optionally followed by a number (for example, "CEDEX 7"), or just
                         a number alone, representing the "sector code" (Jamaica), "delivery area
                         indicator" (Malawi) or "post office indicator" (Côte d'Ivoire).
                administrativeArea:
                    type: string
                    description: |-
                        Optional. Highest administrative subdivision which is used for postal
                         addresses of a country or region.
                         For example, this can be a state, a province, an oblast, or a prefecture.
                         For Spain, this is the province and not the autonomous
                         community (for example, "Barcelona" and not "Catalonia").
                         Many countries don't use an administrative area in postal addresses. For
                         example, in Switzerland, this should be left unpopulated.
                locality:
                    type: string
                    description: |-
                        Optional. Generally refers to the city or town portion of the address.
                         Examples: US city, IT comune, UK post town.
                         In regions of the world where localities are not well defined or do not fit
                         into this structure well, leave `locality` empty and use `address_lines`.
                sublocality:
                    type: string
                    description: |-
                        Optional. Sublocality of the address.
                         For example, this can be a neighborhood, borough, or district.
                addressLines:
                    type: array
                    items:
                        type: string
                    description: |-
                        Unstructured address lines describing the lower levels of an address.

                         Because values in `address_lines` do not have type information and may
                         sometimes contain multiple values in a single field (for example,
                         "Austin, TX"), it is important that the line order is clear. The order of
                         address lines should be "envelope order" for the country or region of the
                         address. In places where this can vary (for example, Japan),
                         `address_language` is used to make it explicit (for example, "ja" for
                         large-to-small ordering and "ja-Latn" or "en" for small-to-large). In this
                         way, the most specific line of an address can be selected based on the
                         language.

                         The minimum permitted structural representation of an address consists
                         of a `region_code` with all remaining information placed in the
                         `address_lines`. It would be possible to format such an address very
                         approximately without geocoding, but no semantic reasoning could be
                         made about any of the address components until it was at least
                         partially resolved.

                         Creating an address only containing a `region_code` and `address_lines` and
                         then geocoding is the recommended way to handle completely unstructured
                         addresses (as opposed to guessing which parts of the address should be
                         localities or administrative areas).
                recipients:
                    type: array
                    items:
                        type: string
                    description: |-
                        Optional. The recipient at the address.
                         This field may, under certain circumstances, contain multiline information.
                         For example, it might contain "care of" information.
                organization:
                    type: string
                    description: Optional. The name of the organization at the address.
            description: |-
                Represents a postal address, such as for postal delivery or payments
                 addresses. With a postal address, a postal service can deliver items to a
                 premise, P.O. box, or similar. A postal address is not intended to model
                 geographical locations like roads, towns, or mountains.

                 In typical usage, an address would be created by user input or from importing
                 existing data, depending on the type of process.

                 Advice on address input or editing:

                  - Use an internationalization-ready address widget such as
                  https://github.com/google/libaddressinput.
                  - Users should not be presented with UI elements for input or editing of
                  fields outside countries where that field is used.

                 For more guidance on how to use this schema, see:
                 https://support.google.com/business/answer/6397478.
        Property:
            required:
                - organisation
                - displayName
                - timeZone
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The property name.
                         Format: properties/{property}
                organisation:
                    type: string
                    description: |-
                        The chain/brand that owns this property.
                         Format: organisations/{organisation}
                displayName:
                    type: string
                    description: Human-friendly name (e.g. "Grand Beach Resort, Goa").
                description:
                    type: string
                    description: Free-form description shown on the property's page.
                address:
                    allOf:
                        - $ref: '#/components/schemas/PostalAddress'
                    description: Postal address of the property.
                timeZone:
                    type: string
                    description: IANA timezone (e.g. "Asia/Kolkata") the property operates in.
                media:
                    type: array
                    items:
                        $ref: '#/components/schemas/Media'
                    description: |-
                        Showcase gallery and documents (images, video, floor plans, PDFs).
                         Documents are Media with type DOCUMENT.
                policy:
                    allOf:
                        - $ref: '#/components/schemas/Policy'
                    description: |-
                        Guest-facing informational policy (display only). The enforced rules
                         (cancellation, stay constraints, buffers) live per-Unit in the schedule
                         service, not here.
                tags:
                    type: array
                    items:
                        type: string
                    description: Arbitrary tags for grouping and filtering (e.g. "beachfront", "5-star").
                attributes:
                    type: object
                    description: Arbitrary attributes used for templating, policy, and segmentation.
                units:
                    readOnly: true
                    type: array
                    items:
                        type: string
                    description: |-
                        Resource names of the units (room types) under this property; manage them
                         with the Unit standard methods.
                         Format: properties/{property}/units/{unit}
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A hotel (or other lodging property): the guest-facing venue a chain operates.
                 A Property belongs to an Organisation (the chain/brand) and carries the
                 showcase media, address, and informational policies shown to guests. Its
                 bookable inventory lives in child Units (room types); pricing and availability
                 are modeled there, not here.
        RateOverride:
            required:
                - price
            type: object
            properties:
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        Dates the override applies to, in the unit's timezone. Unset means it
                         applies on every date (a pure weekday rule).
                weekdays:
                    type: array
                    items:
                        type: integer
                        format: enum
                    description: Weekdays the override applies to. Empty means every day within date_range.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: The price in effect while this override matches.
            description: |-
                A price override for a span of dates and/or specific weekdays, layered over a
                 unit's base `price`. The price is still interpreted per the unit's
                 pricing_unit (per night, per booking, per person).
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        Tax:
            required:
                - code
                - percent
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "occupancy_tax" or "gst".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                percent:
                    type: number
                    description: Tax rate as a percentage, e.g. 12 for 12% GST.
                    format: double
            description: |-
                A tax applied to the taxable base (base subtotal plus taxable fees). Surfaces
                 as a TYPE_TAX line in a booking's price_components.
        TimeOfDay:
            type: object
            properties:
                hours:
                    type: integer
                    description: |-
                        Hours of a day in 24 hour format. Must be greater than or equal to 0 and
                         typically must be less than or equal to 23. An API may choose to allow the
                         value "24:00:00" for scenarios like business closing time.
                    format: int32
                minutes:
                    type: integer
                    description: |-
                        Minutes of an hour. Must be greater than or equal to 0 and less than or
                         equal to 59.
                    format: int32
                seconds:
                    type: integer
                    description: |-
                        Seconds of a minute. Must be greater than or equal to 0 and typically must
                         be less than or equal to 59. An API may allow the value 60 if it allows
                         leap-seconds.
                    format: int32
                nanos:
                    type: integer
                    description: |-
                        Fractions of seconds, in nanoseconds. Must be greater than or equal to 0
                         and less than or equal to 999,999,999.
                    format: int32
            description: |-
                Represents a time of day. The date and time zone are either not significant
                 or are specified elsewhere. An API may choose to allow leap seconds. Related
                 types are [google.type.Date][google.type.Date] and
                 `google.protobuf.Timestamp`.
        UnarchivePropertyRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The property to restore to the active state.
                         Format: properties/{property}
            description: Request message for UnarchiveProperty.
        Unit:
            required:
                - displayName
                - type
                - bookingMode
                - timeZone
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The unit name.
                         Format: properties/{property}/units/{unit}
                displayName:
                    type: string
                    description: Human-friendly name (e.g. "Deluxe King", "Sea-View Suite").
                description:
                    type: string
                    description: Free-form description.
                type:
                    type: integer
                    description: What kind of unit this is.
                    format: enum
                bookingMode:
                    type: integer
                    description: |-
                        How this unit is booked, and therefore the availability shape it yields.
                         Immutable: flipping it after bookings exist would invalidate every existing
                         booking and availability computation.
                    format: enum
                capacity:
                    type: integer
                    description: Number of interchangeable units in the pool. Defaults to 1 when unset.
                    format: int32
                maxOccupancy:
                    type: integer
                    description: |-
                        Maximum guests per unit (occupancy limit). A future policy layer (OPA)
                         reads this to validate party size on a booking. Zero means unspecified.
                    format: int32
                timeZone:
                    type: string
                    description: |-
                        IANA timezone the unit's hours and dates are evaluated in. Required so
                         availability is timezone-correct.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        Base price, interpreted per pricing_unit. For NIGHTLY units this is the
                         default nightly rate; rate_overrides layer seasonal/weekend rates on top.
                pricingUnit:
                    type: integer
                    description: What the price is charged per.
                    format: enum
                duration:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Slot length. Required for TIME_SLOT units; ignored for NIGHTLY.
                rateOverrides:
                    type: array
                    items:
                        $ref: '#/components/schemas/RateOverride'
                    description: |-
                        Rate calendar: date- and weekday-scoped overrides of `price`. For NIGHTLY
                         units this is the seasonal/weekend rate calendar. `price` is the default
                         when no override matches. Later-listed overrides win where they overlap.
                losDiscounts:
                    type: array
                    items:
                        $ref: '#/components/schemas/LosDiscount'
                    description: |-
                        Length-of-stay discounts applied to the NIGHTLY subtotal when a stay is at
                         least `min_nights` long. The most generous matching discount applies.
                fees:
                    type: array
                    items:
                        $ref: '#/components/schemas/Fee'
                    description: |-
                        Fees added on top of the base subtotal (e.g. cleaning, service). Each
                         surfaces as a TYPE_FEE line in a booking's price_components.
                taxes:
                    type: array
                    items:
                        $ref: '#/components/schemas/Tax'
                    description: |-
                        Taxes applied to the taxable base (subtotal plus taxable fees). Each
                         surfaces as a TYPE_TAX line in a booking's price_components.
                media:
                    type: array
                    items:
                        $ref: '#/components/schemas/Media'
                    description: Showcase gallery and documents for this unit (images, video, floor plans).
                applicablePromoCodes:
                    type: array
                    items:
                        type: string
                    description: |-
                        Promo codes advertised as applicable to this unit (an allow-list shown to
                         guests). Actual eligibility/validation still happens at booking time.
                         Format: promo-codes/{promo_code}
                tags:
                    type: array
                    items:
                        type: string
                    description: Arbitrary tags for grouping and filtering.
                attributes:
                    type: object
                    description: Arbitrary attributes used for templating, policy, and segmentation.
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A bookable unit type within a property: a pool of `capacity` interchangeable
                 rooms/units of the same kind (e.g. "Deluxe King", capacity 12). A Unit carries
                 its own pricing, media, occupancy limit, and the promo codes advertised for
                 it. The freebusy engine computes how many units are free for a window; its
                 booking_mode decides whether availability is time slots or per-night counts.
tags:
    - name: PropertyService
