# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: OrganisationService API
    description: |-
        OrganisationService manages tenants and their members. Day-to-day tenancy is
         enforced by the shell via row-level security from the caller's organisation; this
         service is where organisations and members are created and administered.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/organisations:
        get:
            tags:
                - OrganisationService
            description: Lists the organisations the caller belongs to.
            operationId: OrganisationService_ListOrganisations
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of organisations to return. The server may cap this. Zero lets
                     the server pick a default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListOrganisations call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression over organisation fields (e.g. display_name).
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListOrganisationsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - OrganisationService
            description: Creates an organisation. The caller becomes its first owner.
            operationId: OrganisationService_CreateOrganisation
            parameters:
                - name: organisationId
                  in: query
                  description: Optional caller-chosen ID for the organisation; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Organisation'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Organisation'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organisations/{organisation}:
        get:
            tags:
                - OrganisationService
            description: Gets a single organisation.
            operationId: OrganisationService_GetOrganisation
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Organisation'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - OrganisationService
            description: Deletes an organisation.
            operationId: OrganisationService_DeleteOrganisation
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: force
                  in: query
                  description: |-
                    If true, delete the organisation and its members; otherwise the call fails when
                     the organisation still has members.
                  schema:
                    type: boolean
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - OrganisationService
            description: Updates an organisation.
            operationId: OrganisationService_UpdateOrganisation
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Organisation'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Organisation'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organisations/{organisation}/members:
        get:
            tags:
                - OrganisationService
            description: Lists the members of an organisation.
            operationId: OrganisationService_ListMembers
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of members to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListMembers call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression (AIP-160), e.g. `role = ADMIN` or `state = ACTIVE`.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListMembersResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organisations/{organisation}/members/{member}:
        get:
            tags:
                - OrganisationService
            description: Gets a single member.
            operationId: OrganisationService_GetMember
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: member
                  in: path
                  description: The member id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - OrganisationService
            description: Removes a member from an organisation.
            operationId: OrganisationService_DeleteMember
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: member
                  in: path
                  description: The member id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - OrganisationService
            description: Updates a member; the role is the only mutable field.
            operationId: OrganisationService_UpdateMember
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
                - name: member
                  in: path
                  description: The member id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Member'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/organisations/{organisation}/members:invite:
        post:
            tags:
                - OrganisationService
            description: Invites a member to an organisation.
            operationId: OrganisationService_InviteMember
            parameters:
                - name: organisation
                  in: path
                  description: The organisation id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/InviteMemberRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InviteMemberResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        InviteMemberRequest:
            required:
                - parent
                - email
                - role
            type: object
            properties:
                parent:
                    type: string
                    description: |-
                        The organisation to invite the member to.
                         Format: organisations/{organisation}
                email:
                    type: string
                    description: Email address to invite.
                role:
                    type: integer
                    description: Role to grant on acceptance.
                    format: enum
                requestId:
                    type: string
                    description: Caller-supplied idempotency key; identical retries return the first result.
            description: Request message for InviteMember.
        InviteMemberResponse:
            type: object
            properties:
                member:
                    allOf:
                        - $ref: '#/components/schemas/Member'
                    description: The created member (in INVITED state).
            description: Response message for InviteMember.
        ListMembersResponse:
            type: object
            properties:
                members:
                    type: array
                    items:
                        $ref: '#/components/schemas/Member'
                    description: The page of members.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListMembers.
        ListOrganisationsResponse:
            type: object
            properties:
                organisations:
                    type: array
                    items:
                        $ref: '#/components/schemas/Organisation'
                    description: The page of organisations (those the caller belongs to).
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListOrganisations.
        Member:
            required:
                - email
                - role
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The member name.
                         Format: organisations/{organisation}/members/{member}
                user:
                    readOnly: true
                    type: string
                    description: |-
                        The user, once the invite is accepted.
                         Format: users/{user}
                email:
                    type: string
                    description: The invited email address.
                displayName:
                    readOnly: true
                    type: string
                    description: Cached display name of the member.
                role:
                    type: integer
                    description: The member's role in the organisation.
                    format: enum
                state:
                    readOnly: true
                    type: integer
                    description: Confirmation state of the membership.
                    format: enum
                inviter:
                    readOnly: true
                    type: string
                    description: |-
                        The user who issued the invite.
                         Format: users/{user}
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp (when the invite was created).
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: The membership of a user in an organisation, with their role.
        Organisation:
            required:
                - displayName
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The organisation name.
                         Format: organisations/{organisation}
                displayName:
                    type: string
                    description: Human-friendly organisation name (e.g. "Acme Inc.").
                slug:
                    type: string
                    description: URL-safe slug, unique across organisations.
                billingEmail:
                    type: string
                    description: Billing contact email.
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state.
                    format: enum
                settings:
                    type: object
                    description: Arbitrary organisation-level settings.
                memberCount:
                    readOnly: true
                    type: string
                    description: Number of members across all states.
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A chain: the hotel brand/company that owns one or more properties, and the
                 unit of multi-tenancy. The shell enforces isolation with row-level security
                 keyed off the caller's organisation. Each Property references the Organisation
                 it belongs to; members here are the chain's administrators, not its guests
                 (guests relate to a property only through bookings).
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
tags:
    - name: OrganisationService
