# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: BookingService API
    description: |-
        BookingService is the transactional heart. CreateBooking carries the
         idempotency key, runs policy checks, and does the exclusion-constraint insert
         that places a hold. The hold lifecycle is modeled as booking states. Two
         things are deliberately NOT RPCs: the sweeper that releases expired holds is
         an internal goroutine/cron, and confirmation usually arrives as a payment
         webhook that calls ConfirmBooking server-side.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/bookings:
        get:
            tags:
                - BookingService
            description: Lists bookings.
            operationId: BookingService_ListBookings
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of bookings to return. Must be at most 1000; larger values are rejected.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListBookings call's next_page_token.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `unit = "properties/9/units/42"`,
                     `customer = "users/7"`, `state = CONFIRMED`, or a window overlap predicate.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "create_time desc" or "window.start_time".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListBookingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - BookingService
            description: Creates a booking, placing a hold.
            operationId: BookingService_CreateBooking
            parameters:
                - name: requestId
                  in: query
                  description: |-
                    Caller-supplied idempotency key that dedupes retries of this create. Reusing
                     an id returns the booking created by the first call.
                  schema:
                    type: string
                - name: bookingId
                  in: query
                  description: Optional caller-chosen ID for the booking; the server generates one if unset.
                  schema:
                    type: string
                - name: validateOnly
                  in: query
                  description: |-
                    If true, price the booking and check it against availability, capacity, and
                     occupancy, but place no hold. The returned Booking carries price, discount,
                     total, and the itemized price_components — the same numbers a real create
                     would charge — with no name or state, because nothing was created. A window
                     that is already full fails here exactly as it would on create.

                     The quote is indicative, not reserved: it holds nothing, so the capacity it
                     saw can be taken by someone else before you call again without validate_only.
                  schema:
                    type: boolean
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Booking'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Booking'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}:
        get:
            tags:
                - BookingService
            description: Gets a single booking.
            operationId: BookingService_GetBooking
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Booking'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}/guests:
        get:
            tags:
                - BookingService
            description: Gets the staying party (guests and occupancy) on a booking.
            operationId: BookingService_GetBookingGuests
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BookingGuests'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - BookingService
            description: Replaces the staying party (guests and occupancy) on a booking.
            operationId: BookingService_UpdateBookingGuests
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace both guests and occupancy.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BookingGuests'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BookingGuests'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}:cancel:
        post:
            tags:
                - BookingService
            description: Cancels a booking.
            operationId: BookingService_CancelBooking
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CancelBookingRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Booking'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}:confirm:
        post:
            tags:
                - BookingService
            description: Confirms a held booking.
            operationId: BookingService_ConfirmBooking
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ConfirmBookingRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Booking'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}:previewCancellation:
        post:
            tags:
                - BookingService
            description: Previews the refund a cancellation would yield now, without cancelling.
            operationId: BookingService_PreviewCancellation
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PreviewCancellationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PreviewCancellationResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/bookings/{booking}:reschedule:
        post:
            tags:
                - BookingService
            description: Reschedules a booking to a new span.
            operationId: BookingService_RescheduleBooking
            parameters:
                - name: booking
                  in: path
                  description: The booking id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RescheduleBookingRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Booking'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        Attachment:
            type: object
            properties:
                filename:
                    type: string
                    description: Original filename as uploaded.
                mimeType:
                    type: string
                    description: MIME type of the file (e.g. "application/pdf", "image/jpeg").
                sizeBytes:
                    type: string
                    description: Size of the file in bytes.
                content:
                    type: string
                    description: |-
                        Raw file content, stored inline in the database. Cleared once the file is
                         migrated to object storage, at which point `uri` takes over.
                    format: bytes
                uri:
                    type: string
                    description: |-
                        Location of the file once moved to object storage (e.g. an s3:// or
                         https:// URL). Unset while the file lives inline in `content`.
                uploadTime:
                    readOnly: true
                    type: string
                    description: When the file was uploaded.
                    format: date-time
            description: |-
                An uploaded file attached to a document- or licence-carrying record (e.g. a
                 guest's IdDocument scan, or a property/unit licence certificate). The bytes
                 are stored inline in `content` today; `uri` is populated once the file is
                 migrated to object storage (S3 or any CDN-fronted host). At most one of the
                 two is authoritative at a time — prefer `uri` when both are set.
        Booking:
            required:
                - unit
                - window
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The booking name.
                         Format: bookings/{booking}
                unit:
                    type: string
                    description: |-
                        The unit being booked.
                         Format: properties/{property}/units/{unit}
                customer:
                    type: string
                    description: |-
                        The user the booking is for.
                         Format: users/{user}
                contact:
                    allOf:
                        - $ref: '#/components/schemas/Contact'
                    description: |-
                        Contact details for the booker. Required when `customer` is unset (a guest /
                         walk-in booking); when `customer` is set these supplement or override the
                         user's profile contact for this booking. The booker is not necessarily one of
                         the guests below.
                guests:
                    type: array
                    items:
                        $ref: '#/components/schemas/Guest'
                    description: |-
                        The people staying under this booking (the party), with the registration
                         details a hotel captures at check-in — name, nationality, ID, and the
                         foreigner-registration fields required for foreign nationals — plus each
                         guest's own preferences. The number of guests must not exceed
                         `units × unit.max_occupancy`. Distinct from `customer`/`contact`, who is the
                         booker.
                occupancy:
                    allOf:
                        - $ref: '#/components/schemas/Occupancy'
                    description: |-
                        Party-size breakdown, for capacity math and child pricing. When guests are
                         listed the counts must reconcile with them; otherwise it stands alone as the
                         occupancy. `adults + children` counts against `unit.max_occupancy`.
                units:
                    type: integer
                    description: Number of units / party size reserved. Defaults to 1.
                    format: int32
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: The reserved span. For NIGHTLY units this spans check-in to check-out.
                assignedUnit:
                    readOnly: true
                    type: string
                    description: Which specific unit of the pool was assigned (the shell's atomic pick).
                state:
                    readOnly: true
                    type: integer
                    description: |-
                        Current lifecycle state. New bookings start PENDING_HOLD (database
                         default); confirm/cancel transitions move it explicitly.
                    format: enum
                holdExpireTime:
                    readOnly: true
                    type: string
                    description: When the pending hold lapses, if not confirmed first.
                    format: date-time
                price:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Computed subtotal before discounts.
                promoCode:
                    type: string
                    description: |-
                        The promo code to apply to this booking, set at creation, if any.
                         Format: promo-codes/{promo_code}
                discount:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Discount applied from the promo code.
                total:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Final total after discounts.
                priceComponents:
                    readOnly: true
                    type: array
                    items:
                        $ref: '#/components/schemas/PriceComponent'
                    description: |-
                        Itemized breakdown behind the total: the base charge, each fee and tax, and
                         each discount, as signed lines. `price` is the TYPE_BASE subtotal and
                         `total` is the sum of every component; these lines expose the fees and taxes
                         in between. Empty for simple bookings with no fees or taxes configured.
                notes:
                    type: string
                    description: Free-form notes on the booking.
                attributes:
                    type: object
                    description: Arbitrary attributes.
                cancelReason:
                    readOnly: true
                    type: integer
                    description: Why the booking was cancelled, when state is CANCELLED.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp (when the hold was placed).
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                confirmTime:
                    readOnly: true
                    type: string
                    description: When the booking was confirmed, if at all.
                    format: date-time
                cancelTime:
                    readOnly: true
                    type: string
                    description: When the booking was cancelled, if at all.
                    format: date-time
                refundAmount:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        Amount refunded on cancellation, computed from the unit's cancellation
                         policy and how far ahead of the booking start it was cancelled. Set only
                         once the booking is CANCELLED. Use PreviewCancellation to see this before
                         committing.
                refundPercent:
                    readOnly: true
                    type: integer
                    description: Percentage of the total that `refund_amount` represents (0-100).
                    format: int32
                holdTtl:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: |-
                        Requested time-to-live of the hold, set at creation. The server caps this
                         and reflects the effective expiry in hold_expire_time.
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A reservation against a unit. The hold lifecycle lives here as states
                 rather than a separate service: CreateBooking places a PENDING_HOLD,
                 confirmation flips it to CONFIRMED, and an internal sweeper expires holds that
                 are never confirmed.
        BookingGuests:
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The singleton resource name.
                         Format: bookings/{booking}/guests
                guests:
                    type: array
                    items:
                        $ref: '#/components/schemas/Guest'
                    description: The guest party. An empty list clears the party.
                occupancy:
                    allOf:
                        - $ref: '#/components/schemas/Occupancy'
                    description: The occupancy breakdown, replacing the existing one.
            description: |-
                BookingGuests is a singleton sub-resource of a Booking (AIP-156): the staying
                 party attached to it. Exactly one exists per booking, addressed without an ID
                 segment. Read and replaced via UpdateBookingGuests; there is no separate
                 Create/Delete since it always exists alongside its parent Booking. It is an
                 API shape over Booking.guests/occupancy, not a stored table — the party
                 persists on the Booking row graph, so the ORM skips it (a generated table
                 would bolt a second required parent FK onto every guest row).
        CancelBookingRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The booking to cancel.
                         Format: bookings/{booking}
                reason:
                    type: integer
                    description: Why the booking is being cancelled.
                    format: enum
                note:
                    type: string
                    description: Free-form note explaining the cancellation.
                requestId:
                    type: string
                    description: Caller-supplied idempotency key; identical retries return the first result.
            description: Request message for CancelBooking.
        ConfirmBookingRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The booking to confirm.
                         Format: bookings/{booking}
                paymentRef:
                    type: string
                    description: Opaque reference to the payment/settlement that confirmed this booking.
                requestId:
                    type: string
                    description: Caller-supplied idempotency key; identical retries return the first result.
            description: |-
                Request message for ConfirmBooking. Confirmation normally arrives via the
                 payment webhook rather than a direct client call; either way it flips a
                 PENDING_HOLD to CONFIRMED.
        Contact:
            type: object
            properties:
                displayName:
                    type: string
                    description: Full name of the guest.
                email:
                    type: string
                    description: Email address for the confirmation and any follow-ups.
                phoneNumber:
                    type: string
                    description: Phone number in E.164 form (e.g. "+14155552671").
            description: |-
                Contact details for the person a booking is for. When a booking carries a
                 `customer` (a users/{user} reference) these typically mirror the user's
                 profile; for walk-in or email-only bookings made by someone who is not a
                 registered user, this is the only contact information captured. The server
                 requires at least one reachable channel (email or phone) when no customer is
                 set.
        ForeignerDetails:
            type: object
            properties:
                visaNumber:
                    type: string
                    description: Visa number.
                visaType:
                    type: string
                    description: Visa type / category (e.g. "Tourist", "Business", "Employment").
                visaIssuePlace:
                    type: string
                    description: Place the visa was issued.
                visaIssueDate:
                    type: string
                    description: Date the visa was issued.
                    format: date
                visaExpiryDate:
                    type: string
                    description: Date the visa expires.
                    format: date
                arrivalDate:
                    type: string
                    description: Date the guest arrived in the country.
                    format: date
                entryPort:
                    type: string
                    description: Port / place of entry into the country.
                origin:
                    type: string
                    description: Where the guest is arriving from (last city / country).
                nextDestination:
                    type: string
                    description: The guest's next destination after this stay.
                visitPurpose:
                    type: string
                    description: Purpose of visit (e.g. "Tourism", "Business", "Medical").
            description: |-
                Foreigner-registration details a hotel must capture for foreign nationals to
                 file Form C with the FRRO within 24 hours of arrival (India). Nationals of
                 exempt countries (e.g. Nepal, Bhutan) and diplomats may omit these.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Guest:
            required:
                - displayName
            type: object
            properties:
                displayName:
                    type: string
                    description: Full legal name, exactly as on the presented ID / passport.
                primary:
                    type: boolean
                    description: |-
                        Whether this is the lead / primary guest (the registered occupant the
                         booking is held under). Exactly one guest in a party is primary.
                gender:
                    type: integer
                    description: Gender as recorded for registration.
                    format: enum
                birthDate:
                    type: string
                    description: Date of birth.
                    format: date
                ageGroup:
                    type: integer
                    description: Age bracket; given explicitly, or derived from birth_date by the server.
                    format: enum
                nationality:
                    type: string
                    description: |-
                        Nationality as an ISO 3166-1 alpha-2 country code (e.g. "IN", "GB", "US").
                         Required for foreign-national registration.
                idDocument:
                    allOf:
                        - $ref: '#/components/schemas/IdDocument'
                    description: Government identity document presented at check-in.
                email:
                    type: string
                    description: Contact email (typically only for the lead guest).
                phoneNumber:
                    type: string
                    description: Contact phone in E.164 form (typically only for the lead guest).
                permanentAddress:
                    allOf:
                        - $ref: '#/components/schemas/PostalAddress'
                    description: Permanent / home address in the country of residence.
                localAddress:
                    allOf:
                        - $ref: '#/components/schemas/PostalAddress'
                    description: |-
                        Local address / reference in the country of stay (the "address in India"
                         field on Form C).
                foreigner:
                    allOf:
                        - $ref: '#/components/schemas/ForeignerDetails'
                    description: |-
                        Foreigner-registration details, present when the guest is a foreign national
                         (drives Form C / FRRO filing). Omitted for domestic guests.
                preferences:
                    allOf:
                        - $ref: '#/components/schemas/GuestPreferences'
                    description: |-
                        The guest's own stay preferences and special requests, kept with the guest
                         so they travel with them across the booking.
            description: |-
                A guest is a person who stays under a booking. It is one of three distinct
                 people the system models, all in the identity domain:
                   - User   (identity.proto): the account that signs in and books online.
                   - Guest  (this message):   a person actually staying — the party on a booking.
                   - Member (organisation):   hotel staff who manage the chain/property.

                 The booker (a User, or an anonymous contact) is not necessarily a guest, and a
                 booking has one or more guests. This message captures what a hotel records on a
                 Guest Registration Card at check-in — identity, nationality, and ID — plus the
                 foreigner-registration details required for foreign nationals (e.g. India's
                 Form C / FRRO), and the guest's own stay preferences. It is an embedded value
                 on a booking, not an addressable account resource.
        GuestPreferences:
            type: object
            properties:
                smoking:
                    type: integer
                    description: Preferred smoking / non-smoking room.
                    format: enum
                bed:
                    type: integer
                    description: Preferred bed type.
                    format: enum
                dietary:
                    type: array
                    items:
                        type: string
                    description: |-
                        Dietary requirements / requests (e.g. "vegetarian", "jain", "halal",
                         "gluten-free").
                accessibility:
                    type: array
                    items:
                        type: string
                    description: |-
                        Accessibility needs (e.g. "wheelchair", "hearing-accessible",
                         "ground-floor").
                floorPreference:
                    type: integer
                    description: Preferred floor; 0 means no preference.
                    format: int32
                loyaltyNumber:
                    type: string
                    description: Loyalty-programme membership number, if any.
                specialRequests:
                    type: array
                    items:
                        type: string
                    description: Free-form special requests (e.g. "late check-in", "crib", "high floor").
                notes:
                    type: string
                    description: Any additional free-text notes about the guest.
            description: |-
                A guest's stay preferences and special requests. All optional; used to guide
                 unit assignment and to surface requests to housekeeping / front desk.
        IdDocument:
            required:
                - type
                - number
            type: object
            properties:
                type:
                    type: integer
                    description: Which kind of document this is.
                    format: enum
                number:
                    type: string
                    description: The document number.
                issuingCountry:
                    type: string
                    description: Issuing country as an ISO 3166-1 alpha-2 code.
                issuePlace:
                    type: string
                    description: Place of issue (city / office), as printed on the document.
                issueDate:
                    type: string
                    description: Date the document was issued.
                    format: date
                expiryDate:
                    type: string
                    description: Date the document expires.
                    format: date
                attachment:
                    allOf:
                        - $ref: '#/components/schemas/Attachment'
                    description: Scanned copy or photo of the document, uploaded at check-in.
            description: |-
                A government identity document. Passport fields are required for foreign
                 nationals; domestic guests may present any accepted document type.
        ListBookingsResponse:
            type: object
            properties:
                bookings:
                    type: array
                    items:
                        $ref: '#/components/schemas/Booking'
                    description: The page of bookings.
                nextPageToken:
                    type: string
                    description: Token to pass as page_token to retrieve the next page; empty when no more.
            description: Response message for ListBookings.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        Occupancy:
            type: object
            properties:
                adults:
                    type: integer
                    description: Number of adults.
                    format: int32
                children:
                    type: integer
                    description: Number of children.
                    format: int32
                infants:
                    type: integer
                    description: Number of infants (usually not counted against occupancy).
                    format: int32
            description: |-
                Occupancy is a party-size breakdown by age bracket. `adults + children` is the
                 headcount charged against a unit's `max_occupancy`; infants are typically not
                 counted. When a booking also lists `guests`, these counts must reconcile with
                 that list.
        PostalAddress:
            type: object
            properties:
                revision:
                    type: integer
                    description: |-
                        The schema revision of the `PostalAddress`. This must be set to 0, which is
                         the latest revision.

                         All new revisions **must** be backward compatible with old revisions.
                    format: int32
                regionCode:
                    type: string
                    description: |-
                        Required. CLDR region code of the country/region of the address. This
                         is never inferred and it is up to the user to ensure the value is
                         correct. See https://cldr.unicode.org/ and
                         https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html
                         for details. Example: "CH" for Switzerland.
                languageCode:
                    type: string
                    description: |-
                        Optional. BCP-47 language code of the contents of this address (if
                         known). This is often the UI language of the input form or is expected
                         to match one of the languages used in the address' country/region, or their
                         transliterated equivalents.
                         This can affect formatting in certain countries, but is not critical
                         to the correctness of the data and will never affect any validation or
                         other non-formatting related operations.

                         If this value is not known, it should be omitted (rather than specifying a
                         possibly incorrect default).

                         Examples: "zh-Hant", "ja", "ja-Latn", "en".
                postalCode:
                    type: string
                    description: |-
                        Optional. Postal code of the address. Not all countries use or require
                         postal codes to be present, but where they are used, they may trigger
                         additional validation with other parts of the address (for example,
                         state or zip code validation in the United States).
                sortingCode:
                    type: string
                    description: |-
                        Optional. Additional, country-specific, sorting code. This is not used
                         in most regions. Where it is used, the value is either a string like
                         "CEDEX", optionally followed by a number (for example, "CEDEX 7"), or just
                         a number alone, representing the "sector code" (Jamaica), "delivery area
                         indicator" (Malawi) or "post office indicator" (Côte d'Ivoire).
                administrativeArea:
                    type: string
                    description: |-
                        Optional. Highest administrative subdivision which is used for postal
                         addresses of a country or region.
                         For example, this can be a state, a province, an oblast, or a prefecture.
                         For Spain, this is the province and not the autonomous
                         community (for example, "Barcelona" and not "Catalonia").
                         Many countries don't use an administrative area in postal addresses. For
                         example, in Switzerland, this should be left unpopulated.
                locality:
                    type: string
                    description: |-
                        Optional. Generally refers to the city or town portion of the address.
                         Examples: US city, IT comune, UK post town.
                         In regions of the world where localities are not well defined or do not fit
                         into this structure well, leave `locality` empty and use `address_lines`.
                sublocality:
                    type: string
                    description: |-
                        Optional. Sublocality of the address.
                         For example, this can be a neighborhood, borough, or district.
                addressLines:
                    type: array
                    items:
                        type: string
                    description: |-
                        Unstructured address lines describing the lower levels of an address.

                         Because values in `address_lines` do not have type information and may
                         sometimes contain multiple values in a single field (for example,
                         "Austin, TX"), it is important that the line order is clear. The order of
                         address lines should be "envelope order" for the country or region of the
                         address. In places where this can vary (for example, Japan),
                         `address_language` is used to make it explicit (for example, "ja" for
                         large-to-small ordering and "ja-Latn" or "en" for small-to-large). In this
                         way, the most specific line of an address can be selected based on the
                         language.

                         The minimum permitted structural representation of an address consists
                         of a `region_code` with all remaining information placed in the
                         `address_lines`. It would be possible to format such an address very
                         approximately without geocoding, but no semantic reasoning could be
                         made about any of the address components until it was at least
                         partially resolved.

                         Creating an address only containing a `region_code` and `address_lines` and
                         then geocoding is the recommended way to handle completely unstructured
                         addresses (as opposed to guessing which parts of the address should be
                         localities or administrative areas).
                recipients:
                    type: array
                    items:
                        type: string
                    description: |-
                        Optional. The recipient at the address.
                         This field may, under certain circumstances, contain multiline information.
                         For example, it might contain "care of" information.
                organization:
                    type: string
                    description: Optional. The name of the organization at the address.
            description: |-
                Represents a postal address, such as for postal delivery or payments
                 addresses. With a postal address, a postal service can deliver items to a
                 premise, P.O. box, or similar. A postal address is not intended to model
                 geographical locations like roads, towns, or mountains.

                 In typical usage, an address would be created by user input or from importing
                 existing data, depending on the type of process.

                 Advice on address input or editing:

                  - Use an internationalization-ready address widget such as
                  https://github.com/google/libaddressinput.
                  - Users should not be presented with UI elements for input or editing of
                  fields outside countries where that field is used.

                 For more guidance on how to use this schema, see:
                 https://support.google.com/business/answer/6397478.
        PreviewCancellationRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The booking to preview a cancellation for.
                         Format: bookings/{booking}
            description: |-
                Request message for PreviewCancellation. Computes the refund a cancellation
                 would yield right now, under the unit's cancellation policy, without
                 cancelling the booking.
        PreviewCancellationResponse:
            type: object
            properties:
                refundable:
                    type: boolean
                    description: Whether cancelling now would refund anything.
                refundPercent:
                    type: integer
                    description: Percentage of the total that would be refunded (0-100).
                    format: int32
                refundAmount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Amount that would be refunded now.
                nonRefundableAmount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Amount that would be retained (total minus refund_amount).
                policySummary:
                    type: string
                    description: Human-readable summary of the policy tier that applied, for display.
            description: Response message for PreviewCancellation.
        PriceComponent:
            type: object
            properties:
                type:
                    type: integer
                    description: Which kind of line this is.
                    format: enum
                code:
                    type: string
                    description: |-
                        Stable machine code for the line, e.g. "base", "cleaning_fee",
                         "occupancy_tax", or a promo code. Clients key display and logic off this.
                displayName:
                    type: string
                    description: Human-readable label suitable for display on an itemized receipt.
                amount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: |-
                        Signed amount: positive for charges (base, fees, taxes), negative for
                         discounts. Summing every component yields the booking total.
            description: |-
                One line in a price breakdown: a base charge, a fee, a tax, or a discount.
                 Clients branch on `type` and `code`; the signed `amount` rolls up to the
                 booking total (charges positive, discounts negative).
        RescheduleBookingRequest:
            required:
                - name
                - window
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The booking to reschedule.
                         Format: bookings/{booking}
                window:
                    allOf:
                        - $ref: '#/components/schemas/TimeWindow'
                    description: The new reserved span.
                unit:
                    type: string
                    description: |-
                        The new unit, when changing it as part of the reschedule.
                         Format: properties/{property}/units/{unit}
                requestId:
                    type: string
                    description: Caller-supplied idempotency key that dedupes retries of this reschedule.
            description: |-
                Request message for RescheduleBooking. Atomically moves a booking to a new
                 span (and optionally unit), re-running availability and the exclusion
                 check on the new window.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        TimeWindow:
            required:
                - startTime
                - endTime
            type: object
            properties:
                startTime:
                    type: string
                    description: Inclusive start of the interval.
                    format: date-time
                endTime:
                    type: string
                    description: Exclusive end of the interval.
                    format: date-time
            description: |-
                A half-open time interval [start_time, end_time). Used for query windows and
                 for a booking's reserved span in both TIME_SLOT and NIGHTLY modes.
tags:
    - name: BookingService
