# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: ResourceService API
    description: |-
        ResourceService is the read-heavy catalog of bookable things (providers,
         rooms, equipment, unit types) and the offerings attached to them.
    version: 0.0.1
servers:
    - url: https://freebusy.ohtarnished.dev
paths:
    /v1/resources:
        get:
            tags:
                - ResourceService
            description: Lists resources.
            operationId: ResourceService_ListResources
            parameters:
                - name: pageSize
                  in: query
                  description: Maximum number of resources to return. The server may cap this.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListResources call, for pagination.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression (AIP-160), e.g. `type = RESOURCE_TYPE_ROOM`,
                     `state = STATE_ACTIVE`, `tags:"beachfront"`, or a match on display_name.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "display_name" or "create_time desc".
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListResourcesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - ResourceService
            description: Creates a resource.
            operationId: ResourceService_CreateResource
            parameters:
                - name: resourceId
                  in: query
                  description: Optional caller-chosen ID for the resource; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Resource'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Resource'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/resources/{resource}:
        get:
            tags:
                - ResourceService
            description: Gets a single resource.
            operationId: ResourceService_GetResource
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Resource'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - ResourceService
            description: Updates a resource.
            operationId: ResourceService_UpdateResource
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Resource'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Resource'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/resources/{resource}/offerings:
        get:
            tags:
                - ResourceService
            description: Lists the offerings attached to a resource.
            operationId: ResourceService_ListOfferings
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: Maximum number of offerings to return.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListOfferings call's next_page_token.
                  schema:
                    type: string
                - name: orderBy
                  in: query
                  description: Sort order, e.g. "display_name" or "create_time desc".
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: Filter expression (AIP-160), e.g. a match on display_name.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListOfferingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - ResourceService
            description: Creates an offering on a resource.
            operationId: ResourceService_CreateOffering
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: offeringId
                  in: query
                  description: Optional caller-chosen ID for the offering; the server generates one if unset.
                  schema:
                    type: string
                - name: requestId
                  in: query
                  description: Caller-supplied idempotency key; identical retries return the first result.
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Offering'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Offering'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/resources/{resource}/offerings/{offering}:
        get:
            tags:
                - ResourceService
            description: Gets a single offering.
            operationId: ResourceService_GetOffering
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: offering
                  in: path
                  description: The offering id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Offering'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - ResourceService
            description: Deletes an offering.
            operationId: ResourceService_DeleteOffering
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: offering
                  in: path
                  description: The offering id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - ResourceService
            description: Updates an offering.
            operationId: ResourceService_UpdateOffering
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
                - name: offering
                  in: path
                  description: The offering id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to overwrite. Omit to replace all mutable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Offering'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Offering'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/resources/{resource}:archive:
        post:
            tags:
                - ResourceService
            description: Archives a resource, hiding it from availability and new bookings.
            operationId: ResourceService_ArchiveResource
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ArchiveResourceRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Resource'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/resources/{resource}:unarchive:
        post:
            tags:
                - ResourceService
            description: Unarchives a resource, restoring it to the active state.
            operationId: ResourceService_UnarchiveResource
            parameters:
                - name: resource
                  in: path
                  description: The resource id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UnarchiveResourceRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Resource'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        ArchiveResourceRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The resource to archive.
                         Format: resources/{resource}
            description: Request message for ArchiveResource.
        DateRange:
            required:
                - startDate
                - endDate
            type: object
            properties:
                startDate:
                    type: string
                    description: Inclusive first date of the range.
                    format: date
                endDate:
                    type: string
                    description: Exclusive end date of the range.
                    format: date
            description: |-
                A half-open range of calendar dates [start_date, end_date), evaluated in the
                 resource's local timezone. The natural query and exception shape for NIGHTLY
                 resources: end_date is the check-out date and is not itself included.
        Fee:
            required:
                - code
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "cleaning_fee".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                amount:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Fixed fee amount, when charging a flat fee.
                percent:
                    type: integer
                    description: Percent of the base subtotal (1-100), when charging a proportional fee.
                    format: int32
                pricingUnit:
                    type: integer
                    description: |-
                        What the fee is charged per (per booking, per night, per person). Defaults
                         to per booking.
                    format: enum
                taxable:
                    type: boolean
                    description: Whether this fee is included in the taxable base.
            description: |-
                A fee added on top of an offering's base subtotal. Exactly one of `amount` or
                 `percent` is set. Surfaces as a TYPE_FEE line in a booking's price_components.
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListOfferingsResponse:
            type: object
            properties:
                offerings:
                    type: array
                    items:
                        $ref: '#/components/schemas/Offering'
                    description: The page of offerings.
                nextPageToken:
                    type: string
                    description: next page token. Omitted if this is the last page.
            description: Response message for ListOfferings.
        ListResourcesResponse:
            type: object
            properties:
                resources:
                    type: array
                    items:
                        $ref: '#/components/schemas/Resource'
                    description: The page of resources.
                nextPageToken:
                    type: string
                    description: Next page token, if more results remain. Omitted if this is the last page.
            description: Response message for ListResources.
        LosDiscount:
            required:
                - minNights
            type: object
            properties:
                minNights:
                    type: integer
                    description: Minimum nights for the discount to apply.
                    format: int32
                percentOff:
                    type: integer
                    description: Percent off the subtotal (1-100), when discounting by percentage.
                    format: int32
                amountOff:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Fixed amount off the subtotal, when discounting by a flat amount.
            description: |-
                A discount applied to a NIGHTLY subtotal once the stay reaches a minimum
                 length. Exactly one of percent_off or amount_off is set.
        Money:
            type: object
            properties:
                currencyCode:
                    type: string
                    description: The three-letter currency code defined in ISO 4217.
                units:
                    type: string
                    description: |-
                        The whole units of the amount.
                         For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
                nanos:
                    type: integer
                    description: |-
                        Number of nano (10^-9) units of the amount.
                         The value must be between -999,999,999 and +999,999,999 inclusive.
                         If `units` is positive, `nanos` must be positive or zero.
                         If `units` is zero, `nanos` can be positive, zero, or negative.
                         If `units` is negative, `nanos` must be negative or zero.
                         For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
                    format: int32
            description: Represents an amount of money with its currency type.
        Offering:
            required:
                - displayName
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The offering name.
                         Format: resources/{resource}/offerings/{offering}
                displayName:
                    type: string
                    description: Human-friendly name (e.g. "30-min consult").
                description:
                    type: string
                    description: Free-form description.
                duration:
                    pattern: ^-?(?:0|[1-9][0-9]{0,11})(?:\.[0-9]{1,9})?s$
                    type: string
                    description: Slot length. Required for TIME_SLOT resources; ignored for NIGHTLY.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: Price charged for the offering, interpreted per pricing_unit.
                pricingUnit:
                    type: integer
                    description: What the price is charged per.
                    format: enum
                rateOverrides:
                    type: array
                    items:
                        $ref: '#/components/schemas/RateOverride'
                    description: |-
                        Rate calendar: date- and weekday-scoped overrides of `price`. For NIGHTLY
                         resources this is the seasonal/weekend rate calendar; for TIME_SLOT it
                         varies slot price by date or day. `price` is the default when no override
                         matches. Later-listed overrides win where they overlap.
                losDiscounts:
                    type: array
                    items:
                        $ref: '#/components/schemas/LosDiscount'
                    description: |-
                        Length-of-stay discounts applied to the NIGHTLY subtotal when a stay is at
                         least `min_nights` long. The most generous matching discount applies.
                fees:
                    type: array
                    items:
                        $ref: '#/components/schemas/Fee'
                    description: |-
                        Fees added on top of the base subtotal (e.g. cleaning, service). Each
                         surfaces as a TYPE_FEE line in a booking's price_components.
                taxes:
                    type: array
                    items:
                        $ref: '#/components/schemas/Tax'
                    description: |-
                        Taxes applied to the taxable base (subtotal plus taxable fees). Each
                         surfaces as a TYPE_TAX line in a booking's price_components.
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A specific way a resource can be booked, carrying its duration and price. A
                 "30-min consult" and a "60-min session" are two offerings on the same
                 provider. For NIGHTLY resources the duration is unused and price is per-night.
        RateOverride:
            required:
                - price
            type: object
            properties:
                dateRange:
                    allOf:
                        - $ref: '#/components/schemas/DateRange'
                    description: |-
                        Dates the override applies to, in the resource's timezone. Unset means it
                         applies on every date (a pure weekday rule).
                weekdays:
                    type: array
                    items:
                        type: integer
                        format: enum
                    description: Weekdays the override applies to. Empty means every day within date_range.
                price:
                    allOf:
                        - $ref: '#/components/schemas/Money'
                    description: The price in effect while this override matches.
            description: |-
                A price override for a span of dates and/or specific weekdays, layered over an
                 offering's base `price`. The price is still interpreted per the offering's
                 pricing_unit (per night, per booking, per person).
        Resource:
            required:
                - displayName
                - type
                - bookingMode
                - timeZone
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The resource name.
                         Format: resources/{resource}
                displayName:
                    type: string
                    description: 'Human-friendly name (e.g. "Dr. Lee", "Deluxe King", "Kayak #3").'
                description:
                    type: string
                    description: Free-form description.
                type:
                    type: integer
                    description: What kind of bookable thing this is.
                    format: enum
                bookingMode:
                    type: integer
                    description: |-
                        How this resource is booked, and therefore the availability shape it
                         yields. Immutable: flipping it after bookings exist would invalidate every
                         existing booking and availability computation.
                    format: enum
                capacity:
                    type: integer
                    description: Number of interchangeable units in the pool. Defaults to 1 when unset.
                    format: int32
                timeZone:
                    type: string
                    description: |-
                        IANA timezone (e.g. "America/New_York") the resource's hours and dates are
                         evaluated in. Required so availability is timezone-correct.
                tags:
                    type: array
                    items:
                        type: string
                    description: Arbitrary tags for grouping and filtering.
                attributes:
                    type: object
                    description: Arbitrary attributes used for templating, policy, and segmentation.
                offerings:
                    readOnly: true
                    type: array
                    items:
                        type: string
                    description: |-
                        Resource names of the offerings attached to this resource (e.g. "30-min
                         consult"); manage them with the Offering standard methods.
                         Format: resources/{resource}/offerings/{offering}
                state:
                    readOnly: true
                    type: integer
                    description: Lifecycle state.
                    format: enum
                createTime:
                    readOnly: true
                    type: string
                    description: Creation timestamp.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: Last-modification timestamp.
                    format: date-time
                etag:
                    type: string
                    description: Opaque version for optimistic concurrency (AIP-154); echo on update/delete.
            description: |-
                A bookable thing: a provider, room, piece of equipment, or a unit type. A
                 resource is a pool of `capacity` interchangeable units; the freebusy engine
                 computes how many are free for a given window. Its booking_mode decides
                 whether availability is produced as time slots or per-night counts.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        Tax:
            required:
                - code
                - percent
            type: object
            properties:
                code:
                    type: string
                    description: Stable machine code, e.g. "occupancy_tax" or "vat".
                displayName:
                    type: string
                    description: Human-readable label for receipts.
                percent:
                    type: number
                    description: Tax rate as a percentage, e.g. 8.5 for 8.5%.
                    format: double
            description: |-
                A tax applied to the taxable base (base subtotal plus taxable fees). Surfaces
                 as a TYPE_TAX line in a booking's price_components.
        UnarchiveResourceRequest:
            required:
                - name
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The resource to restore to the active state.
                         Format: resources/{resource}
            description: Request message for UnarchiveResource.
tags:
    - name: ResourceService
